/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

@charset "utf-8";

body {
  font-family: 'noto', sans-serif !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.backgroundforNextDom {
  width: 100%;
  height: calc(100% - 65px);
  position: fixed;
  z-index: -1;
  opacity: 0.35;
  top: 65px;
  background:{
      size: cover;
      position: center;
  }
}

#pagecontainer {
  background-color: transparent !important;
}

.eqLogic-widget .ui-btn {
  margin-bottom: 5px;
}

.eqLogic-widget {
  display: inline-block;
  background-color: #19bc9c;
  color: white;
  vertical-align: top;
  text-shadow: initial !important;
  padding-bottom: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.eqLogic-widget :after {
  content: none;
}

.scenario-widget {
  display: inline-block;
  background-color: #7f8c8d;
  color: white;
  vertical-align: top;
  text-shadow: initial;
  &:after {
      content: none;
  }
}

.cursor {
  cursor: pointer;
}

.full-width-slider input {
  display: none;
}

.full-width-slider .ui-slider-track {
  margin-left: 15px;
}

legend {
  color: #3eb249;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  padding-bottom: .2em;
  margin: 0 0 .7375em;
  width: 100%;
}

.break {
  position: absolute;
  background: #222;
  width: 20px;
  height: 3px;
}

.dot1 {
  -webkit-animation: loading 6s infinite;
  -moz-animation: loading 6s infinite;
  -ms-animation: loading 6s infinite;
  -o-animation: loading 6s infinite;
  animation: loading 6s infinite;
}

.dot2 {
  -webkit-animation: loading 6s 0.5s infinite;
  -moz-animation: loading 6s 0.5s infinite;
  -ms-animation: loading 6s 0.5s infinite;
  -o-animation: loading 6s 0.5s infinite;
  animation: loading 6s 0.5s infinite;
}

.dot3 {
  -webkit-animation: loading 6s 1s infinite;
  -moz-animation: loading 6s 1s infinite;
  -ms-animation: loading 6s 1s infinite;
  -o-animation: loading 6s 1s infinite;
  animation: loading 6s 1s infinite;
}

@keyframes "loading" {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-moz-keyframes loading {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes "loading" {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-ms-keyframes "loading" {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-o-keyframes "loading" {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
