$white:#FFF;
$black:#000;
$orange: #ec971f;
$nextdom_blue:#33b8cc;
$red:#c9302c;
$lightred:#DFAAA9;
$green: #00cc00;
$lightgreen:#5cb85c;
$grey:#666666;
$lightgrey:#ddd;
$blue:#0174DF;
$lightblue:#B3D7EF;
$yellow:#BFFF00;
$lightyellow:#F3E5A7;
$purple:#563d7c;
