#nextdom-header {
    margin-bottom: 0px !important;
    .navbar-brand {
        position: relative;
        top: -5px;
    }
}

#dashboard-submenu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.plugin-item {
    padding-right: 10px;
    .img-responsive {
        width: 20px;
        display: inline-block;
    }
}

#bt_messageModal > span {
    background-color: #ec971f;
}

#span_nbUpdate {
    background-color: #c9302c;
}

.default-cursor {
    cursor: default;
}

#div_alert {
    display: none;
    width: 100%;
}

#md_pageHelp {
    display: none;
}
