#nextdom-header {
    margin-bottom: 0px !important;
    .navbar-brand {
        position: relative;
        top: -5px;
    }
}

#dashboard-submenu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.plugin-item {
    padding-right: 10px;
    .img-responsive {
        width: 20px;
        display: inline-block;
    }
}

#bt_messageModal > span {
    background-color: #ec971f;
}

#span_nbUpdate {
    background-color: #c9302c;
}

.default-cursor {
    cursor: default;
}

#div_alert {
    display: none;
    margin:10px auto;
    width: 80%;
}

#md_pageHelp {
    display: none;
}

.cursor{
    cursor : pointer;
}

.binary{
    margin-left: 5px;
    position: relative;
    top: 2px;
    width : 15px;
    height : 15px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
}

.nav-tabs a{
    padding:10px 5px !important;
}

#div_pageContainer {
    position: relative;
    overflow: hidden;
}

#div_pageContainer .iconlist{
    background-color : rgba(255,255,255,0);
    height : 130px;
    margin-bottom : 10px;
    padding : 5px;
    border-radius: 2px;
    width : 170px;
    margin-left : 10px;
}

.bs-sidebar .bs-sidenav{
    background-color: rgba(255,255,255,0);
}

.icon_font_size{
    font-size : 6em;
}

.pluginListContainer{
    margin-top:20px;
}

#jqueryLoadingDiv .overlay {
    background-image: url(/3rdparty/jquery.utils/gritter.png);
}


.sidenav-overlay {
height: 100%;
position: absolute;
z-index: 9999;
left: -250px;
background-color: rgba(0,0,0,0.7);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
width: 250px;
float: left;
}

.sidenav-overlay a:hover {
color: #f1f1f1;
}

.sidenav-overlay .closebtn {
position: absolute;
top: 0;
right: 250px;
font-size: 36px;
}

.displayScenario-overlay {
    height: 100%;
    position: absolute;
    z-index: 9999;
	right: -250px;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
    padding-top: 60px;
    width: 250px;
    float: left;
}

.displayScenario-overlay a:hover {
    color: #f1f1f1;
}

.displayScenario-overlay .closebtn {
    position: absolute;
    top: 0;
    left: 250px;
    font-size: 36px;
}

.alert{
width: 80%;
margin: 10px auto;
}

.alert-danger {
border-left: 5px solid #DFAAA9;
box-shadow: 0 0 0 0 rgba(235, 204, 209, 0.7)  !important;
-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
}

#bt_displayObject{
position: fixed;
top:30px;
left:0px;
margin-left:10px;
}

#bt_displayScenario{
position: fixed;
top:30px;
right:0px;
margin-right:10px;
}

.green{
    background-color: $green;
}

.red{
    background-color: $red;
}

.grey{
    background-color: $grey;
}

.blue{
    background-color: $blue;
}
.icon_blue{
    color: $blue;
}

.icon_nextdom_blue{
    color: $nextdom_blue;
}

.nextdom_blue{
    color: $nextdom_blue;
}
.orange{
    background-color: $orange;
}

.yellow{
    background-color: $yellow;
}

.white{
    background-color: $white;
}
.icon_white{
    color: $white;
}


.eqLogic-battery {
    min-width:100px;
    min-height:150px;
    text-align: center;
}

.eqLogic-battery.good {
    background-color: $good;
}

.eqLogic-battery.warning {
    background-color: $warn;
}

.eqLogic-battery.critical {
    background-color: $critical;
}

.eqLogic-name {
    font-size: 1em;
    display: block;
}

.eqLogic-place {
    font-size: 0.95em;
    position:relative;
    top:-5px;
    cursor:default;
}

.eqLogic-battery-icon {
    font-size:2.2em;
    margin-top:-25px;
    margin-bottom:-25px;
}

.eqLogic-battery-icon i {
    font-size: 2.5em;
}

.eqLogic-percent {
    font-size:1.2em;
    font-weight: bold;
    cursor:default;
}

.eqLogic-battery .informations {
    font-size : 0.8em;
    margin-bottom: 3px;
    margin-right: 5px;
    cursor:default;
}

.eqLogic-battery .manual-threshold {
    position:absolute;
    bottom: 3px;
    right: 3px;
    cursor:default;
}

/**
 * Page d'administration
 */
#config .global-tab-content {
    height:calc(100% - 50px);
    overflow:auto;
    overflow-x: hidden;
}

#networktab .label-success,
#cachetab .label-primary,
#generaltab .label-info {
    font-size : 1em;
}

#generaltab .link-dns-success {
    color:white;
    text-decoration: underline;
}

#colortab-list {
    margin-left: 10px;
}

#interacttab #bt_addColorConvert,
#summarytab #bt_addObjectSummary {
    font-size: 1.8em;
}

#eqlogictab .form-group label {
    font-size : 1.4em
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel:hover{
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.content-wrapper {
    min-height: 100%;
    background-color: #eef5f9;
    z-index: 800;
}