@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Colors */
$Primary-Color:#33B8CC;
.primary-bg {
  background-color: $Primary-Color;
}

/* Sections */
.firstUse-Page {
    padding-top: 40px;
    text-align: center;
}
body {
  background: whitesmoke !important;
}
body, h1, h2, h3, h4, h5, h6 {
  color:#333333 !important;
}

/* Boxs */
.box, .box-body {
  background: #fff !important;
}

/* Inputs */
input:not(.has-error) {
  border: 1px solid #ccc !important;
}
input[type="checkbox"], input[type="radio"] {
  border: none !important;
}

/* Logo & images */
#logo img {
  height: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Resizing */
@media (max-width: 991px) {
  #market {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  #market {
    border-right: 1px solid #CCC;
  }
}

/* Buttons */
.nextBtn, .returnBtn{
    margin-top:20px;
    margin-bottom:7px;
}
.nextBtn{
  margin-right: 20px;
}
.returnBtn{
  margin-left: 20px;
}
