/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/
/* Need to be first */
@import "../../graphics/_colors.scss";

/* Tuiles scenario */
.scenarioDisplayCard {
    >.title {
        margin: 0px;
    }
    span.scenario-icon {
        font-size: 4em;
        line-height: 88px;
        border-radius: 10px;
        padding: 10px;
        vertical-align: middle;
        padding-bottom: 2px;
    }
    img {
        height: 80px;
        width: auto;
    }
}
.displayScenario-overlay {
    height: 100%;
    position: absolute;
    z-index: 9999;
    right: -250px;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
    padding-top: 60px;
    width: 250px;
    float: left;
    & a:hover {
        color: #f1f1f1;
    }
    & .closebtn {
        position: absolute;
        top: 0;
        left: 250px;
        font-size: 36px;
    }
}
.scenario-widget{
    background-color: $grey;
    display: inline-block;
    position : relative;
    vertical-align: top;
    color : $white;
    & a{
        color : $white;
    }
}

/* Groupes */
.scenario-group {
    padding: 5px;
}
.scenario-sub-group {
    padding: 5px 5px 0px 0px;
}
.scenario-group-right {
    padding: 5px 10px 5px 5px;
}

/* Blocs */
.scenario-action-bloc {
    vertical-align: top;
    display: table-cell;
    padding: 0px 10px 5px 5px;
    width: 110px;
}
.scenario-action {
    padding: 0px 0px 0px 6px;
}
.scenario-si {
    width: 105px;
    padding-left: 5px;
    display: table-cell;
}
.scenario-si-bloc {
    padding: 0px 0px 5px 0px;
    display: table-cell;
}
.scenario-condition {
    padding: 0px;
    display: table-cell;
    vertical-align: top;
}
.scenario-alors,
.scenario-sinon {
    display: table-cell;
    width: 110px;
    vertical-align: top;
    padding: 5px;
}
.scenario-alors .dropdown {
    display: inline-block;
}
.scenario-for,
.scenario-in,
.scenario-at {
    width: 105px;
    padding-left: 5px;
    display: table-cell;
}
.scenario-code {
    width: 110px;
    padding-left: 5px;
    display: table-cell;
    vertical-align: top;
}
.scenario-code-text {
    min-height: 170px;
}
.scenario-comment {
    width: 25px;
    padding-left: 5px;
    display: table-cell;
    vertical-align: top;
}
.scenario-comment-text {
    min-height: 75px;
}
.scenario-faire {
    display: table-cell;
    width: 110px;
    vertical-align: top;
    padding: 5px;
}
.scenario-title {
    font-size: 20px;
    color: $white;
    vertical-align: middle;
}
.scenario-subtitle {
    vertical-align: top;
    display: table-cell;
    padding:{
      left: 5px;
      right: 0px;
    }
}
.scenario-text {
    min-height: 30px;
}
.scenario-unity {
    float: right;
    font-size: 11px;
    padding: 0px 10px 0px 0px;
}
.scenario-unity-line {
    float: right;
    font-size: 11px;
    padding: 13px 2px 0px 0px;
}

/* Boutons */
.scenario-expand {
    margin-right: 5px;
    width: 23px;
}
.scenario-btn-repeat {
    margin:{
      left: 4px;
      top: 5px;
    }
    width: 30px;
    padding-left: 8px;
    vertical-align: initial;
}
.scenario-delete {
    vertical-align: top;
    display: table-cell;
    width: 15px;
    i {
        position: relative;
        z-index: 2;
    }
}

/* Sortable */
.bt_sortable {
    vertical-align: middle;
    margin: -2px 9px 0px -2px;
    cursor: all-scroll;
    font-size: 18px;
}
.sortable-placeholder {
    border: 2px dashed $lightgrey;
}

/* Element */
#md_addElement .modal-body .alert:not(:first-child) {
    display: none;
}
#in_addElementType {
    margin-bottom: 1.5rem;
}
#div_scenarioElement {
    padding-bottom: 7rem;
}
#div_editScenario {
    .input-group-btn {
        vertical-align: top;
    }
    .CodeMirror {
        height: auto;
    }
    .expressionAttr.scenario-text {
        resize: vertical;
    }
    .expression-error {
        text-decoration: underline;
        text-decoration-color: 'red';
        text-decoration-style: 'dashed';
    }
    .element {
        color: white;
        border-width: 0px;
        border-style: solid;
    }
    .subElement {
        width: 100%;
    }
    div.sortable.empty {
        height: 30px;
    }
}
