/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/
/* Need to be first */
@import "../../graphics/_colors.scss";

/* Tuiles widget */
.displayCard {
    >.title {
        margin: 0;
    }
    span.widget-icon {
        font-size: 4em;
        line-height: 88px;
        border-radius: 10px;
        padding: 10px;
        vertical-align: middle;
        padding-bottom: 2px;
    }
    img {
        height: 80px;
        width: auto;
    }
}

/* Element */
#div_display_config {
    input[type=text]{
        width: 400px;
    }
    .icon {
        font-size: 3em;
    }
}

.fieldset_display_preview {
    background-color: #16329110;
}

/* Element */
#div_display_preview {
    margin-bottom: 20px;
}