@charset "utf-8";

/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* AdminLTE-Surcharge */
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.container-light {
    padding-right: 5px;
    padding-left: 5px;
}

/* Core-Surcharge */
.pluginContainer {
    margin: -5px;
}
.content-wrapper {
    min-height: 100%;
    background-color: $nextdom_bg;
    z-index: 800;
    margin: {
      top: 50px;
    }
    @media (max-width: 767px) {
        margin: {
          top: 100px;
        }
    }
}
#div_pageContainer{
    position: relative;
    overflow: hidden;
    & .iconlist{
        background-color : rgba(255,255,255,0);
        padding : 10px;
        border-radius: 2px;
        margin : 10px;
        cursor: pointer;
    }
}

.div_backgroundPlan{
    overflow: auto;
}
@media (max-width: 767px) {
  .fixed .content-wrapper, .fixed .right-side {
    padding-top: 106px;
  }
}
.wrapper.fullscreen header,
.wrapper.fullscreen aside {
  display: none;
}
.wrapper.fullscreen .content-wrapper {
  margin-left: 0 !important;
}
.wrapper.fullscreen #div_mainContainer {
  margin-top: -50px;
}

/* Core-Ajout */
.ui-dialog-content #div_confPlugin .content-header {
    display: none;
}
#dashboard-content {
    padding-top:15px;
    -webkit-animation: slidein .3s;
    -moz-animation:    slidein .3s;
    -o-animation:      slidein .3s;
    animation:     slidein .3s;
}
.content{
    padding-top:15px;
}
.well {
    padding: 10px;
    border: 1px solid;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.form-group .btn-group {
    display: table;
}
.mix-group {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    > * {
        margin: 0 10px;
    }
    > *:nth-child(-n+1) {
        margin-left: 0 !important;
    }
    > span {
       white-space: normal;
    }
    .form-control {
      width: auto;
    }
    legend {
        width: auto;
        margin-right: auto;
        padding-right: 20px;
    }
}
.form-group-light {
    margin-bottom: 4px;
}

.div_objectScenario {
    margin-bottom: 10px;
    margin-left: -5px;
    margin-right: -5px;
    > * {
      margin: 0;
      padding: 2px 5px;
    }
}
.div_objectScenario_none {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.div_scenario {
    padding: 4px;
    border-radius: 4px;
    display: flow-root;
    .btn {
        height: 30px;
        padding: 5px 10px;
        margin: 1px 2px;
    }
}

#room_filters {
    .nav-tabs-custom {
        margin-bottom: 0;
    }
    .box-body {
        padding: 0;
    }
}

/* jQuerty-Surcharge */
.packery-drop-placeholder {
    outline: 1px dashed hsla(0, 0, 0, .5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
}
