.noPaddingLeft {
    padding-left: 0;
}

.noPaddingRight {
    padding-right: 0;
}

.noMarginBottom {
    margin-bottom: 0;
}

.noPaddingWell {
    padding-bottom: 0;
    padding-top: 0;
}

.market:hover {
    background-color: #F2F1EF !important;
}

#md_modal {
    background-color: #e7e7e7
}
