{% include '/desktop/header.html.twig' %}
    <body class="hold-transition skin-nextdom sidebar-mini fixed sidebar-collapse">
    {% include '/desktop/menu_dashboard-v2.html.twig' %}
        <div class="content-wrapper">
            {{ CONTENT|raw }}
        </div><!-- plif  -->
    {% if debugbar != false %}
        {{ debugbar.render | raw }}
    {% endif %}
    {% if JS_END_POOL is defined %}
        {% for jsFile in JS_END_POOL %}
            <script src="{{ jsFile }}"></script>
        {% endfor %}
    {% endif %}
    </body>
</html>
