{{ HEADER|raw }}
<body>
{% autoescape false %}
    {%  if MENU is defined %}
        {{ MENU }}
    {%  endif %}
{%  endautoescape %}
{% autoescape false %}
  {{ CONTENT }}
{% endautoescape %}
</body>
</html>
