{{ HEADER|raw }}
<body class="hold-transition skin-blue sidebar-mini fixed sidebar-collapse">
{%  if MENU is defined %}
    {{ MENU|raw }}
{%  endif %}
<div class="content-wrapper">
    {{ CONTENT|raw }}
</div>
</body>
</html>
