{% include '/desktop/header.html.twig' %}
<body class="hold-transition skin-blue sidebar-mini fixed sidebar-collapse">
{% include '/desktop/menu_dashboard-v2.html.twig' %}
<div class="content-wrapper">
    {{ CONTENT|raw }}
</div>
</body>
</html>
