{#

/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<div id="contenu" class="box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-refresh">&nbsp;&nbsp;</i>{{ 'Redémarrage en cours...' }}</h3>
    </div>
    <div class="box-body">
        <fieldset>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" id="progressbar_reboot" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div id="div_reboot_nextdom_texte">{{ 'Merci de patienter...' }}</div>
        </fieldset>
    </div>
</div>
<iframe src="" id="iframe_reboot" style="display:none"></iframe>

<div id="div_reboot_nextdom" style="display:none;">
    <script type="text/javascript" id="reboot_nextdom"></script>
</div>

<script type="text/javascript">
    var rebooti = '0';
    var testnextdom = '0';
    nextdom.rebootSystem();

    function refresh() {
        $.ajax({
            url: "/public/js/desktop/rebootjs.js?t=" + Date.now(),
            success: function (retour) {
                $('reboot_nextdom').html(retour);
            }
        });
    }

    function page_rebootjs(rebooti) {
        refresh();
        if (rebooti == '1') {
            $('#div_reboot_nextdom_texte').empty().html('NextDom est de nouveau opérationnel ! Vous allez être redirigé vers votre dashboard...');
            $('#progressbar_reboot').addClass('progress-bar-success').removeClass('progress-bar-danger');
            $('#progressbar_reboot').width('75%');
            setTimeout("$('#progressbar_reboot').width('100%');", 3500);
            setTimeout('window.location.replace("index.php?v=d&p=dashboard")', 4000);
        } else {
            testnextdom++;
            if (testnextdom > '15') {
                $('#progressbar_reboot').addClass('progress-bar-danger').removeClass('progress-bar-success');
                $('#div_reboot_nextdom_texte').empty().html('NextDom n\'a pas encore redémarré, nous continuons cependant de tester son retour, n\'hésitez pas à la débrancher/rebrancher électriquement...');
            }
        }
    }

    function reboot_nextdom(rebooti) {
        $('#div_reboot_nextdom_texte').empty().html('Merci de patienter... NextDom est en cours de redémarrage...');
        $('#progressbar_reboot').width('25%');
        setInterval('page_rebootjs(rebooti)', 15000);
    }

    setTimeout('reboot_nextdom(rebooti)', 10000);
    $('#progressbar_reboot').width('5%');
</script>
