<div class="box eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #tag#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border-top:4px solid #background-color#;background-color:rgba(255,255,255,#opacity#); width: #width#;height: #height#;#style#" data-category="#category#" data-tags="#data-tags#">
	<div class="box-header with-border">
  <span class="pull-left box-title" style="margin-top: 2px;margin-left: 2px;" title="#alert_name#">
		<i class='#alert_icon#'></i>
	</span>
		<div class="widget-name">
			<span class="reportModeVisible" style="font-size : 1.2em;display:none;">#name_display# <span style="font-size: 0.85em;">#object_name#</span></span>
			<a href="#eqLink#" class="reportModeHidden" style="font-size : 1.2em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a>
		</div>
		<div class="box-tools pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-wrench"></i></button>
				<ul class="dropdown-menu" role="menu">
					<span class="cmd refresh" data-cmd_id="#refresh_id#"><i class='fa fa-refresh'> refresh</i></span>
					<li class="divider"></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="box-body verticalAlign">
		<center>
			#cmd#
		</center>
	</div>
	<span class="statusCmd" style="position : absolute;left : 5px;bottom : 0px; width : 30px;z-index: 1030;"></span>
	<script>
        if ('#refresh_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                nextdom.cmd.execute({id: '#refresh_id#'});
            });
        }else{
            $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
        }
	</script>
</div>