nbproject/
test.php
core/config/common.config.php
/plugins
/data
sftp-config.json
*.iml

.idea
.project

log/*
!log/.htaccess

tmp/*
!tmp/.htaccess

Thumbs.db
.DS_Store
/.buildpath
cache.tar.gz

/vendor
composer.phar
var/market_cache/*
backup/*
var/*
/public/*
/.sass-cache
DB_Backup.sql

docs/*
