nbproject/
test.php
core/config/common.config.php
/plugins
sftp-config.json
*.iml

.idea
.project
.vscode

log/*
!log/.htaccess

tmp/*
!tmp/.htaccess

Thumbs.db
.DS_Store
/.buildpath
cache.tar.gz

/vendor
/scripts/phpdox/vendor
composer.phar
var/market_cache/*
backup/*
var/*
/public/*
/.sass-cache
/DB_Backup.sql

__pycache__/
tests/tests/chromedriver*

core/config
core/css

/var.*
/var
/data.*
/data
/src/mobile/node_modules
