<?php

$finder = Symfony\CS\Finder\DefaultFinder::create()
    ->exclude('vendor')
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/api')
    ->in(__DIR__.'/core')
;

return Symfony\CS\Config\Config::create()
    ->fixers(array('strict_param', 'short_array_syntax'))
    ->finder($finder)
;
