<!DOCTYPE html>
<html lang="fr">
    {% include '/commons/header.html.twig' %}
    <body class="hold-transition sidebar-mini sidebar-collapse">
        <div class="wrapper">
            {% include '/commons/AdminLTE_navbar.html.twig' %}
            {% include '/commons/AdminLTE_sidebar.html.twig' %}
            <div class="content-wrapper">
                {{ CONTENT | raw }}
            </div>
            {% include '/commons/AdminLTE_footer.html.twig' %}
        </div>
        <div class="fabs fab-left">
            <a class="fab-action-button cursor animationShakeDelay" style="display: none;" id="bt_goOnTop"><i class="fab-action-button__icon fas fa-angle-double-up"></i></a>
        </div>
        {% if JS_END_POOL is defined %}
            {% for jsFile in JS_END_POOL %}
                <script src="{{ jsFile }}"></script>
            {% endfor %}
        {% endif %}
        {% if debugbar != false %}
            {{ debugbar.render | raw }}
        {% endif %}
    </body>
</html>
