{% include '/commons/header.html.twig' %}
    <body>
    {% include '/commons/menu_dashboard.html.twig' %}
    {{ CONTENT|raw }}
    {% if debugbar != false %}
        {{ debugbar.render | raw }}
    {% endif %}
    {% if JS_END_POOL is defined %}
        {% for jsFile in JS_END_POOL %}
            <script src="{{ jsFile }}"></script>
        {% endfor %}
    {% endif %}
    </body>
</html>
