<!DOCTYPE html>
<html lang="fr">
{% include '/commons/header.html.twig' %}
<body class="hold-transition fixed sidebar-mini sidebar-collapse">
<div class="wrapper">
    {% include '/commons/AdminLTE_navbar.html.twig' %}
    {% include '/commons/AdminLTE_sidebar.html.twig' %}
    <div class="content-wrapper">
        {{ CONTENT | raw }}
    </div>
</div>
<div class="fab fab-left">
    <a class="fab-action-button cursor" style="display: none;" id="bt_goOnTop"><i class="fab-action-button__icon fas fa-angle-double-up"></i></a>
</div>
{% if JS_END_POOL is defined %}
{% for jsFile in JS_END_POOL %}
    <script src="{{ jsFile }}"></script>
{% endfor %}
{% endif %}
{% if debugbar != false %}
    {{ debugbar.render | raw }}
{% endif %}
</body>
</html>