<!DOCTYPE html>
<html lang="fr">
{% include '/commons/header.html.twig' %}
<body class="hold-transition skin-nextdom sidebar-mini fixed sidebar-collapse">
<div class="wrapper">
    {% include '/commons/AdminLTE_navbar.html.twig' %}
    {% include '/commons/AdminLTE_sidebar.html.twig' %}
    <div class="content-wrapper">
        {{ CONTENT | raw }}
    </div><!-- plif  -->
    {% if debugbar != false %}
        {{ debugbar.render | raw }}
    {% endif %}
    {% if JS_END_POOL is defined %}
        {% for jsFile in JS_END_POOL %}
            <script src="{{ jsFile }}"></script>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>