{#
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*/
#}
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <p><a href="#" id="bt_nextdomAbout"><i class="fas fa-info-circle"></i> About Nextdom</a></p>
    </div>
    <!-- Default to the left -->
    <strong>GPL Automation 2018 - {{ "now"|date("Y") }} NextDom <a href="https://www.nextdom.org"></a>.</strong> All rights reserved.
</footer>
<!--/Main Footer-->
