@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*/

/* Résumé */
/* COLOR1 = Couleur d'accentuation principale (identité du thème, header nextdom, bouton primaires, messages d'info, élements actifs ou survolés, textes de liens et d'état, scrollbar, boutons fab, checkbox et radiobox...) */
/* COLOR2 = Couleur de contraste (icônes et texte sur fond accentué ou de sidebar...) */
/* COLOR3 = Couleur de survol principale (contenu, titres, footer, bouton d'administration, unités, légendes...) */
/* COLOR4 = Couleur de fond du menu latéral (fond du menu latéral) */
/* COLOR5 = Couleur de survol du menu latéral (fond du menu latéral au survol) */
/* COLOR6 = Couleur de fond du sous-menu latéral (fond du sous-menu latéral) */
/* COLOR7 = Couleur de fond principale (dashboard et autres fond de pages...) */
/* COLOR8 = Couleur de fond secondaire (titres, action-bar, footer, onglets, titre modale, boîtes d'infos...) */
/* COLOR9 = Couleur de fond des titres (légendes, tableaux, unités...) */
/* COLOR10 = Couleur des textes (contenu, titres, footer, bouton d'administration, unités, légendes...) */
/* COLOR11 = Couleur de fond des inputs (champs de saisie, listes déroulantes...) */
/* COLOR12 = Couleur de bordure (inputs, légendes, tableaux...) */
/* COLOR13 = Couleur de fond des contenants (boxs, cards, pages d'onglets, tableaux...) */
/* COLOR14 = Boutons d'action */
/* COLOR15 = Boutons d'administration */
/* COLOR16 = Couleur du texte du menu latéral */
/* COLOR17 = Couleur du texte du sous-menu latéral */
/* COLOR18 = Couleur de bordure des boutons (bouton d'administration, bouton default) */
/* COLOR19 = Couleur de fond des boîtes à onglets */
/* COLOR20 = Couleur de fond des blocs codes */

/* #################################################################################################################################################################################################### */
/* COLOR1 = Couleur d'accentuation principale (identité du thème, header nextdom, bouton primaires, messages d'info, élements actifs ou survolés, textes de liens et d'état, scrollbar, boutons fab...) */
/* #################################################################################################################################################################################################### */
/* Fond global */
.backgroundColor{
  background-color: map_get($color_theme, 'color1') !important;
}

/* Fond logo page login */
.login-logo, .login-mobile-header{
  background-color: map_get($color_theme, 'color1') !important;
}

/* Header */
.main-header .logo {
  background-color: map_get($color_theme, 'color1') !important;
}
.main-header li.user-header {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Textes & labels */
.label-config {
  background-color: map_get($color_theme, 'color1') !important;
}
.label-link {
  color: map_get($color_theme, 'color1') !important;
}
.li_noteDisplay.active .label-list,
.li_scenarioTemplate.active .label-list,
.li_view.active .label-view,
.li_log.active .label-log {
  border-color: map_get($color_theme, 'color1') !important;
}

/* Bouton primaires */
.btn-primary,
.label-primary {
  background-color: map_get($color_theme, 'color1') !important;
  border-color: map_get($color_theme, 'color1') !important;
}

/* Elements actifs ou survolés */
.main-header .logo:hover {
  background-color: map_get($color_theme, 'color1') !important;
}
.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: map_get($color_theme, 'color1') !important;
}
.nav-tabs-custom>.nav-tabs-dashboard>li.active {
  border-bottom-color:map_get($color_theme, 'color180') !important;
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li a:hover:not(.btn) {
    background-color: map_get($color_theme, 'color1') !important;
  }
}
.main-header > .logo:hover {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
  background: map_get($color_theme, 'color1') !important;
  background-color: map_get($color_theme, 'color1') !important;
}
html {
  scrollbar-color: map_get($color_theme, 'color1') map_get($color_theme, 'color6');
}

/* Fabs */
.fab-action-button  {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Logos */
.main-header > .logo {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Message d'info */
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Navbars */
.main-header .navbar {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Menu lateral */
.sidebar-menu > li:hover > a,
.sidebar-menu > li.menu-open > a {
  border-left-color: map_get($color_theme, 'color1') !important;
}
.sidebar-menu > li.header {
  color: map_get($color_theme, 'color1') !important;
}

/* Ombre edition mode deisgn */
.widget-shadow-edit {
  box-shadow: 0 0 0.5em map_get($color_theme, 'color1') !important;
}

/* Timeline */
.time-label span,
.timeline-scenario {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Market */
.market:hover,
.marketOverload:hover {
  border: 1px dashed map_get($color_theme, 'color1') !important;
}

/* Icones */
.iconSelected {
  border: 1px dashed map_get($color_theme, 'color1') !important;
}

/* Sliders */
.slider::-webkit-slider-thumb {
  background-color: map_get($color_theme, 'color1') !important;
}
.slider::-moz-range-thumb {
  background-color: map_get($color_theme, 'color1') !important;
}
.input-group .input-range-value {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Checkbox Radiobox */
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after,
[type="radio"]:not(:checked):after,
[type="radio"]:checked:after {
  background-color: map_get($color_theme, 'color1') !important;
}

/* Plugins icons */
.logoPrimary {
  color: map_get($color_theme, 'color1') !important;
}

/* Autocomplete */
.autocomplete {
    .ui-menu-item-wrapper:hover,
    .ui-state-hover, .ui-state-active {
        background-color: map_get($color_theme, 'color1') !important;
    }
}

/* Messages */
#table_message .iconCore {
    background-color: map_get($color_theme, 'color1') !important;
}

/* ################################################################################## */
/* COLOR2 = Couleur de contraste (icônes et texte sur fond accentué ou de sidebar...) */
/* ################################################################################## */
/* Header */
.main-header .logo {
  color: map_get($color_theme, 'color2') !important;
}
.main-header .navbar .sidebar-toggle, .main-header .navbar .search-toggle {
  color: map_get($color_theme, 'color2') !important;
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li a {
    color: map_get($color_theme, 'color2') !important;
  }
}
.main-header .navbar .nav > li > a,
.objectSummaryGlobalHeader {
  color: map_get($color_theme, 'color2') !important;
}

/* Menu lateral */
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: map_get($color_theme, 'color2') !important;
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: map_get($color_theme, 'color2') !important;
}

/* Bouton action */
.btn-action {
  color: map_get($color_theme, 'color2') !important;
}

/* Logos */
.main-header > .logo {
  color: map_get($color_theme, 'color2') !important;
}

/* Bouton modales */
.bootbox-close-button {
  color: map_get($color_theme, 'color2') !important;
}

/* Fabs */
.fab-buttons__link,
.fab-action-button__icon {
  color: map_get($color_theme, 'color2') !important;
}
.fab-buttons__link:hover,
.fab-button__icon:hover {
  color: map_get($color_theme, 'color2') !important;
}

/* Sliders */
.input-range-value {
  color: map_get($color_theme, 'color2') !important;
}

/* Textes scenario dashboard */
.div_scenario a {
  color: map_get($color_theme, 'color2') !important;
}

/* Barre de chargement */
.pace .pace-progress {
  background: map_get($color_theme, 'color2') !important;
}

/* Mobile title */
.login-mobile-title{
  color: map_get($color_theme, 'color2') !important;
}

/* Autocomplete */
.autocomplete {
    .ui-menu-item-wrapper:hover,
    .ui-state-hover, .ui-state-active {
        color: map_get($color_theme, 'color2') !important;
    }
}

/* Widget theme nextdom */
.label-default,
.bg-theme .btn  {
  color: map_get($color_theme, 'color2') !important;
}


/* ############################################################################################################# */
/* COLOR3 = Couleur de survol principale (contenu, titres, footer, bouton d'administration, unités, légendes...) */
/* ############################################################################################################# */
.main-header .navbar .nav > li > a:hover,
.main-header .navbar .nav > li > a:active,
.main-header .navbar .nav > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus,
.main-header .navbar .nav > .active > a {
  background-color: rgba(0, 0, 0, 0.1);
  color: map_get($color_theme, 'color3') !important;
}

.main-header .navbar .sidebar-toggle:hover, .main-header .navbar .search-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: map_get($color_theme, 'color3') !important;
}


/* ############################################################### */
/* COLOR4 = Couleur de fond du menu latéral (fond du menu latéral) */
/* ############################################################### */
/* Menu lateral */
.main-sidebar, .left-side {
  background-color: map_get($color_theme, 'color4') !important;
}
.sidebar-menu > li > .treeview-menu {
  border: solid 1px map_get($color_theme, 'color4') !important;
}
.sidebar-menu > li.header {
  border-right: 1px solid map_get($color_theme, 'color4') !important;
}


/* ################################################################################### */
/* COLOR5 = Couleur de survol du fond du menu latéral (fond du menu latéral au survol) */
/* ################################################################################### */
/* Menu lateral */
.sidebar-menu > li:hover > a, .sidebar-menu > li.menu-open > a {
  background-color: map_get($color_theme, 'color5') !important;
}
.treeview-menu > li:hover {
  background-color: map_get($color_theme, 'color5') !important;
}
.fab-action-button:hover,
.fab-action-button i:hover {
  color: map_get($color_theme, 'color5') !important;
}


/* ######################################################################### */
/* COLOR6 = Couleur de fond du sous-menu latéral (fond du sous-menu latéral) */
/* ######################################################################### */
/* Menu lateral */
.sidebar-menu > li.header {
  background-color: map_get($color_theme, 'color6') !important;
}
.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background-color: map_get($color_theme, 'color6') !important;
}


/* ########################################################################## */
/* COLOR7 = Couleur de fond principale (dashboard et autres fond de pages...) */
/* ########################################################################## */
.content-wrapper,
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color:map_get($color_theme, 'color7') !important;
  border-color:map_get($color_theme, 'color7') !important;
}
.nav-tabs-custom > .nav-tabs > li.father > a {
  background-color:map_get($color_theme, 'color7') !important;
}

.action-bar, .box-footer {
  border-top-color: map_get($color_theme, 'color7') !important;
}

.ui-widget-content {
  background-color: map_get($color_theme, 'color7') !important;
}

.modal-content{
  background-color: map_get($color_theme, 'color7') !important;
}

.ui-dialog .ui-dialog-content {
  background-color: map_get($color_theme, 'color7') !important;
}

.box-header.with-border {
  border-color: map_get($color_theme, 'color7') !important;
}

.box-theme {
  border-top-color: map_get($color_theme, 'color7') !important;
}

.nav-tabs-custom > .nav-tabs,
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-color: map_get($color_theme, 'color7') !important;
}
.info-box-small{
  background-color: map_get($color_theme, 'color7') !important;
}

.nav-tabs-custom .box,
.nav-tabs-custom .box .box-footer,
.nav-tabs-custom .box .box-body,
.nav-tabs-custom .panel,
.nav-tabs-custom .panel .panel-body,
.nav-tabs-custom .well {
  background-color: map_get($color_theme, 'color7') !important;
}

/* Markets */
#market-div .media {
  background-color: map_get($color_theme, 'color7') !important;
}
.market,
.marketOverload,
.marketOverload:hover {
  background-color: map_get($color_theme, 'color7') !important;
}

.eqLogicSortable>li {
  background-color: map_get($color_theme, 'color7') !important;
}

/* Scenario */
.scenario-icon {
  background-color: map_get($color_theme, 'color7') !important;
}

/* fond des timeline */
.timeline-item,
.timeline-header,
.timeline:before {
  background-color: map_get($color_theme, 'color7') !important;
}

/* fond scenario dashboard orphelins */
.div_objectScenario_none .div_scenario {
  background-color: map_get($color_theme, 'color7') !important;
}

/* Progressbar */
.box-body .progress,
.tab-pane .progress,
.form-group .progress {
  background-color: map_get($color_theme, 'color7') !important;
}


/* ########################################################################################################## */
/* COLOR8 = Couleur de fond secondaire (titres, action-bar, footer, onglets, titre modale, boîtes d'infos...) */
/* ########################################################################################################## */
/* Boxs */
.box,
.box-footer,
.panel,
.panel-heading,
.well,
.market-modale-category,
.eqLogic-widget>.box-header {
  background-color: map_get($color_theme, 'color8') !important;
}
.info-box-small{
  background-color: map_get($color_theme, 'color8') !important;
}
.nav-tabs-custom .box .box-header,
.nav-tabs-custom .box .box-footer,
.nav-tabs-custom .panel .panel-heading,
.panel-default,
.nav-tabs-custom .well {
  border-color: map_get($color_theme, 'color8') !important;
}
.nav-tabs-custom .marketOverload {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Action bar */
.action-bar {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Tabs */
.nav-tabs-custom {
  background-color: map_get($color_theme, 'color8') !important;
}
.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-buttonpane {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Footer */
body {
  background-color: map_get($color_theme, 'color8') !important;
}
.label-list:hover,
.label-view:hover,
.label-log:hover {
  background-color: map_get($color_theme, 'color8') !important;
}
.nav-list > li > a:hover {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Modale */
.modal-header,
.modal-footer{
  background-color: map_get($color_theme, 'color8') !important;
}
.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-dialog-buttonpane {
  background-color: map_get($color_theme, 'color8') !important;
}
.row legend {
  background-color: map_get($color_theme, 'color8') !important;
}
.modal-body legend {
  background-color: map_get($color_theme, 'color8') !important;
}

/* List log et autres */
.label-list>a:hover,
.label-view>a:hover,
.label-log>a:hover {
  background-color: map_get($color_theme, 'color8') !important;
}
.label-list:hover,
.label-view:hover,
.label-log:hover {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Tableaux */
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Market */
.media-title {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Progressbar */
.modal-body .progress {
  background-color: map_get($color_theme, 'color8') !important;
}

/* Messages */
#table_message {
  border-color: map_get($color_theme, 'color8') !important;
  background-color: map_get($color_theme, 'color8') !important;
  .header {
    background-color: map_get($color_theme, 'color8') !important;
  }
  li, li ul li a {
    border-color: map_get($color_theme, 'color8') !important;
  }
  li a:hover:not(.btn) {
    background-color: map_get($color_theme, 'color8') !important;
  }
}

/* Widget theme nextdom */
.bg-theme {
    background-color: map_get($color_theme, 'color8') !important;
}

/* ################################################################### */
/* COLOR9 = Couleur de fond des titres (légendes, tableaux, unités...) */
/* ################################################################### */
/* Titres Tableaux */
.table, .table-condensed>thead {
  background-color: map_get($color_theme, 'color9') !important;
  border: map_get($color_theme, 'color9') !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: map_get($color_theme, 'color9') !important;
}

/* Legendes de sections */
legend,
.box legend,
.panel legend {
  background-color: map_get($color_theme, 'color9') !important;
}
.tablesorter-bootstrap .tablesorter-filter-row input.tablesorter-filter,
.tablesorter-bootstrap .tablesorter-filter-row select.tablesorter-filter {
  background-color: map_get($color_theme, 'color9') !important;
}

/* Labels */
.label-value,
.label-icon {
  background-color: map_get($color_theme, 'color9') !important;
}

/* Unités et fond colorpick */
.colorpick .input-group-addon,
.input-group .input-group-addon:not(.input-range-value):not(.label-danger):not(.label-warning):not(.label-success) {
  background-color: map_get($color_theme, 'color9') !important;
}

/* Tableaux */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tfoot > tr > td {
  background-color: map_get($color_theme, 'color9') !important;
}
.tablesorter-bootstrap .tablesorter-filter-row input.tablesorter-filter,
.tablesorter-bootstrap .tablesorter-filter-row select.tablesorter-filter {
  background-color: map_get($color_theme, 'color9') !important;
}

/* Texte area */
pre:not(.mobile-pre) {
  background-color: map_get($color_theme, 'color9') !important;
}
.CodeMirror pre {
  background-color: transparent !important;
}
pre::selection {
  color: map_get($color_theme, 'color9') !important;
}

/* jstree */
.jstree-hovered,
.jstree-clicked {
  background-color: map_get($color_theme, 'color9') !important;
}

/* Scenario */
#div_editScenario .element{
  color: map_get($color_theme, 'color9') !important;
}

/* Messages */
#table_message .menu {
  background-color: map_get($color_theme, 'color9') !important;
}


/* #################################################################################################### */
/* COLOR10 = Couleur des textes (contenu, titres, footer, bouton d'administration, unités, légendes...) */
/* #################################################################################################### */
/* Textes */
body, h1, h2, h3, h4, h5, h6 {
  color: map_get($color_theme, 'color10') !important;
}
.box-header span:not(.badge) {
  color: map_get($color_theme, 'color10') !important;
}
#dashboard-content .box-header {
  color: map_get($color_theme, 'color10') !important;
}
.nav-tabs-custom > .nav-tabs > li.header,
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a,
.nav-tabs-custom > .nav-tabs > li > a,
.ui-widget-content .nav-tabs-custom > .nav-tabs > li > a {
  color: map_get($color_theme, 'color10') !important;
}
.nav-tabs-custom > .nav-tabs > li.father > a {
  color: map_get($color_theme, 'color10') !important;
}
legend {
  color: map_get($color_theme, 'color10') !important;
}
.label-value,
.label-icon {
  color: map_get($color_theme, 'color10') !important;
}
.CodeMirror-scroll{
  color: map_get($color_theme, 'color10') !important;
}
.text-muted {
  color: map_get($color_theme, 'color10') !important;
}
.ui-widget-content {
  color: map_get($color_theme, 'color10') !important;
}
#table_message {
  li, li ul li a {
    color: map_get($color_theme, 'color10') !important;
  }
}

/* Titres */
.ui-dialog .ui-dialog-title {
  color: map_get($color_theme, 'color10') !important;
}

/* Bouton administration */
.btn-app,
.btn-selector {
  color: map_get($color_theme, 'color10') !important;
}

/* Inputs */
.form-control {
  color: map_get($color_theme, 'color10') !important;
}
.input-group .input-group-addon:not(.input-range-value):not(.label-danger):not(.label-warning):not(.label-success),
.input-group .input-group-addon i {
  color: map_get($color_theme, 'color10') !important;
}
.input-sm {
  color: map_get($color_theme, 'color10') !important;
}
pre:not(.mobile-pre) {
  color: map_get($color_theme, 'color10') !important;
}
pre::selection {
  background-color: map_get($color_theme, 'color10') !important;
}

/* Code mirror */
.CodeMirror-gutters {
  color: map_get($color_theme, 'color10') !important;
}

/* Listes */
.label-list,
.label-view,
.label-log,
.label-list>a,
.label-view>a,
.label-log>a {
  color: map_get($color_theme, 'color10') !important;
}

/* Tableaux */
.tablesorter-filter {
  color: map_get($color_theme, 'color10') !important;
}

/* Bouton filtres tuiles */
.bt_editDashboardWidgetGridAllResize,
.bt_editDashboardWidgetGridResize,
.bt_editDashboardWidgetPackery {
  color: map_get($color_theme, 'color10') !important;
}
.editDashboardButtons a {
  color: map_get($color_theme, 'color10') !important;
}
#dashboard-content .card-summary span {
  color: map_get($color_theme, 'color10') !important;
}

/* Summary page objets */
.objectListContainer .objectSummaryParent {
  color: map_get($color_theme, 'color10') !important;
}
.accordion-toggle .fa,
.accordion-toggle .fas,
.accordion-toggle .fab {
  color: map_get($color_theme, 'color10') !important;
}

/* timeline */
.timeline-footer {
  color: map_get($color_theme, 'color10') !important;
}
.timeline-item {
  color: map_get($color_theme, 'color10') !important;
}

/* Widget Theme Nextdom */
.bg-theme .widget-content {
  color: map_get($color_theme, 'color10') !important;
}

/* ############################################################################## */
/* COLOR11 = Couleur de fond des inputs (champs de saisie, listes déroulantes...) */
/* ############################################################################## */
/* Composants */
.form-control, .cron-period select {
  background-color: map_get($color_theme, 'color11') !important;
}
.input-sm {
  background-color: map_get($color_theme, 'color11') !important;
}
.viewZone {
  background-color: map_get($color_theme, 'color11') !important;
}
.slider {
  background-color: map_get($color_theme, 'color11') !important;
}

/* inputs de groupe */
.input-group>input {
  border-color: map_get($color_theme, 'color11') !important;
}

/* Listes */
.label-list,
.label-view,
.label-log{
  background-color: map_get($color_theme, 'color11') !important;
}

/* Code mirror */
.CodeMirror-gutters {
  background-color: map_get($color_theme, 'color11') !important;
}

/* timeline */
.timeline-header {
  border-color: map_get($color_theme, 'color11') !important;
}


/* ####################################################################################### */
/* COLOR12 = Couleur de bordure (inputs, légendes, tableaux et bouton d'administration...) */
/* ####################################################################################### */
/* Inputs */
.ui-autocomplete-input,
select,
textarea,
input:not(.has-error) {
  border: 1px solid map_get($color_theme, 'color12') !important;
}
.input-group {
  border-color: map_get($color_theme, 'color12') !important;
}
.input-group>input,
input[type="checkbox"],
input[type="radio"] {
  border: none !important;
}

/* Legendes de sections */
legend {
  border-color: map_get($color_theme, 'color12') !important;
}

/* Labels */
.label-value,
.label-icon,
.progress {
  border-color: map_get($color_theme, 'color12') !important;
}

/* Tableaux */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid map_get($color_theme, 'color12') !important;
}

/* Listes */
.label-list,
.label-view,
.label-log{
  border-color: map_get($color_theme, 'color12') !important;
}

/* Texte area */
pre:not(.mobile-pre) {
  border-color: map_get($color_theme, 'color12') !important;
}

/* Listes */
.left-border {
  border-left: solid 1px map_get($color_theme, 'color12') !important;
}
.right-border {
  border-right: solid 1px map_get($color_theme, 'color12') !important;
}


/* #################################################################################### */
/* COLOR13 = Couleur de fond des contenants (boxs, cards, pages d'onglets, tableaux...) */
/* #################################################################################### */
/* Box */
.tab-content,
.panel-body {
  background-color: map_get($color_theme, 'color13') !important;
}
.right-border {
  border-right: solid 1px map_get($color_theme, 'color13') !important;
}

/* Contenu tableau */
.table-condensed,
.table-bordered {
  background-color: map_get($color_theme, 'color13') !important;
}


/* ########################## */
/* COLOR14 = Boutons d'action */
/* ########################## */
.btn-action {
  background-color: map_get($color_theme, 'color14') !important;
}
.tooltip-inner {
  background-color: map_get($color_theme, 'color14') !important;
}
.tooltip.top .tooltip-arrow {
  border-top-color: map_get($color_theme, 'color14') !important;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: map_get($color_theme, 'color14') !important;
}
.tooltip.left .tooltip-arrow {
  border-left-color: map_get($color_theme, 'color14') !important;
}
.tooltip.right .tooltip-arrow {
  border-right-color: map_get($color_theme, 'color14') !important;
}


/* ################################# */
/* COLOR15 = Bouton d'administration */
/* ################################# */
.btn-app,
.btn-selector {
  background-color: map_get($color_theme, 'color15') !important;
}


/* ########################################## */
/* COLOR16 = Couleur du texte du menu latéral */
/* ########################################## */
/* Menu lateral */
.sidebar-menu > li:hover > a, .sidebar-menu > li.menu-open > a {
  color: map_get($color_theme, 'color16') !important;
}
.sidebar-menu .treeview-menu > li.active > a,
.sidebar-menu .treeview-menu > li > a:hover {
  color: map_get($color_theme, 'color16') !important;
}
.sidebar a {
  color: map_get($color_theme, 'color16') !important;
}
.user-panel > .info,
.user-panel > .info > a {
  color: map_get($color_theme, 'color16') !important;
}


/* ############################################### */
/* COLOR17 = Couleur du texte du sous-menu latéral */
/* ############################################### */
/* Menu lateral */
.sidebar-menu .treeview-menu>li:not(.sidebar-warning)>a {
  color: map_get($color_theme, 'color17') !important;
}
.sidebar-warning a {
  color: #000 !important;
}


/* ################################################################################## */
/* COLOR18 = Couleur de bordure des boutons (bouton d'administration, bouton default) */
/* ################################################################################## */
/* Bouton administration */
.btn-app,
.btn-selector:not(.iconSelected) {
  border: 1px solid map_get($color_theme, 'color18') !important;
}


/* ############################################## */
/* COLOR19 = Couleur de fond des boîtes à onglets */
/* ############################################## */
/* Tabs */
.nav-tabs-custom>.tab-content,
#dashboard-content .box-body:not(.widget-content),
#dashboard-content .box {
  background-color: map_get($color_theme, 'color19') !important;
}
/* Legendes de sections */
.nav-tabs-custom .box legend,
.nav-tabs-custom .panel legend {
  background-color: map_get($color_theme, 'color19') !important;
}


/* ######################################### */
/* COLOR20 = Couleur de fond des blocs codes */
/* ######################################### */
/* Code mirror */
.CodeMirror-scroll {
  background-color: map_get($color_theme, 'color20') !important;
}


/* ###################################### */
/* Paramètre alpha des couleurs d'alertes */
/* ###################################### */
/* Alertes */
.alert-danger {
  background-color: rgba(221, 75, 57, map_get($color_theme, 'alertAlpha')) !important;
}
.alert-warning {
  background-color: rgba(243, 156, 18, map_get($color_theme, 'alertAlpha')) !important;
}
.alert-success {
  background-color: rgba(0, 166, 90, map_get($color_theme, 'alertAlpha')) !important;
}
.alert-info {
  background-color: rgba(0, 192, 239, map_get($color_theme, 'alertAlpha')) !important;
}
