@charset "utf-8";

body {
  font-family: 'Roboto','Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.main-header {
  z-index: 1030;
}
::-webkit-scrollbar-thumb {
  width: 80px;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* fas fa glyphicon ion*/
.btn-app > .fa,
.btn-app > .fas,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .fas,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
  margin-right: 5px;
}
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .fas,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .fas,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}

.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .fas,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .fas,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .fas,
.treeview-menu > li > a > .glyphicon,
.treeview-menu > li > a > .ion {
  width: 20px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fas,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}
.box-header > .fa,
.box-header > .fas,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .fas,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}

/* Menus */
.tasks-menu, .notifications-menu {
  top: 8px;
  left:-8px;
}

/* Notifs & Badges */
.notifbadge {
  position: inherit;
  top: 7px;
  left:-7px;
}
.notifcounter {
  margin:{
    top: 7px;
    right: 7px;
  }
}
.btn-app>.badge {
  top: 3px;
  right: 3px;
  font-size: 12px;
}

/* Tooltip */
.tooltip-inner {
  padding: 8px 8px;
  border-radius: 8px;
  background: $lightblack;
}
.tooltip.in {
  opacity: 0.95;
}
.tooltip-arrow {
  border-top-color: $lightblack !important;
}

/* User panel */
.user-panel > .image > a > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.user-panel > .info {
  padding: 5px 5px 5px 10px;
  line-height: 0.8;
  position: absolute;
  left: 55px;
}
.sidebar-collapse .user-panel {
  text-align: center;
}
.sidebar-collapse .user-panel div.image {
  width: 2.2rem;
  height: 2.2rem;
  margin:{
    left: auto;
    right: auto;
  }
  float: none !important;
  transition: all .2s;
}

/* Sidebar */
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  display: block !important;
  position: absolute;
  width: 230px;
  left: 50px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
  position: relative !important;
  float: right;
  width: auto !important;
  left: 180px !important;
  top: -22px !important;
  z-index: 900;
  opacity:0;
}

/* Treeview */
.treeview-menu {
  padding: 5px 5px;
  &> li {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

.treeview-menu > li > a {
  padding: 5px 15px 5px 15px;
}
.treeview-menu>li>a>.icon {
  vertical-align: middle;
  padding-right: 5px;
}

/* Form */
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: $lightgray;
  padding-left: 10px !important;
}

/* Boxs */
.box {
  position: relative;
  background: $white;
  border:{
    radius: 4px;
    left: 1px solid rgba(0,0,0,0.2);
    right: 1px solid rgba(0,0,0,0.2);
    bottom: 1px solid rgba(0,0,0,0.2);
    top: 3px solid $lightgray;
  }
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}
.box.without-border {
  border-top: 0px;
}

/* Todo */
.todo-list > li .tools > .fa,
.todo-list > li .tools > .fas,
.todo-list > li .tools > .glyphicon,
.todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}

/* Timeline */
.timeline > li > .fa,
.timeline > li > .fas,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: $gray;
  background: $lightgray;
  border-radius: 50%;
  text-align: center;
  left: 16px;
  top: 0;
}

/* Button */
.btn.btn-flat {
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
  font-size: 15px;
}
.btn-app {
  line-height: 2.5;
  height: 70px;
  margin: 5px 5px 5px 5px;
  min-width: 115px;
}
.btn-tab {
  line-height: 2;
}
.btn-box-tool {
  padding: 8px 5px;
}
.box-header>.box-tools {
  top: 3px;
}

/* Navs */
.navbar-custom-menu > .navbar-nav > li {
  position: unset;
}
.main-header .navbar {
  box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.5);
}
.nav-pills > li > a > .fa,
.nav-pills > li > a > .fas,
.nav-pills > li > a > .glyphicon,
.nav-pills > li > a > .ion {
  margin-right: 5px;
}
.nav-tabs-custom > .nav-tabs > li.header {
  padding: 2px 15px;
  font-size: 17px;
}
.nav-tabs-custom > .nav-tabs > li.header > .fa,
.nav-tabs-custom > .nav-tabs > li.header > .fas,
.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
.nav-tabs-custom > .nav-tabs > li.header > .ion {
  margin-right: 5px;
}
.nav-tabs-custom {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.nav-tabs-custom > .tab-content {
  background: $whitelightgray;
}
.nav-tabs a {
  padding: 10px 10px !important;
}

/*Login & Register page*/
.login-page,
.register-page {
  background: whitesmoke;
  overflow: hidden;
}
.login-box,
.register-box {
  width: 450px;
  margin: 7% auto;
}
.login-box-msg,
.register-box-msg {
  padding: 0 20px 7px 20px;
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;

  color: #666;
  box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: {
    top: 0;
    radius: 7px;
    top-left-radius: 0px;
    top-right-radius: 0px;
  }
}

/* Cards */
.eqLogicThumbnailContainer> div {
  background-color: rgba(0,0,0,0) !important;
  margin: {
    top:0;
  }
  box-shadow: none;
  border: none;
}

.card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border: 0;
  margin: {
    bottom: 60px;
    top: 40px;
  }
  border-radius: 6px;
  color: #333;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background: $white;
  word-wrap: break-word;
  background: {
    color: $white;
    clip: border-box;
  }
  border: 1px solid $whitegray;
  border-radius: .25rem;
}
.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
  text-align: right;
}
.card .card-header {
  z-index: 3!important;
}
.card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i {
  color: $white;
}
.card .card-header {
  border-bottom: none;
  background: transparent;
}

.card-header {
  padding: .75rem 0.9rem;
  margin-bottom: 0;
  background-color: $white;
  border-bottom: 1px solid $whitegray;
  &:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    margin-top: -25px;
  }
}

.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
  border-radius: 5px;
  background-color: $darkgray;
  margin: {
    top: -10px;
    right: 10px;
  }
  float: left;
  height: 45px;
  width: 50px;
  padding-top: 5px;
  text-align: center;
}
.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text > i {
  font-size: 2em;
}
.card-body {
  margin-top: 10px, 10px, 10px, 10px;
}
.card-category {
  position: relative;
  font-size: 16px;
  top: -9px;
}

/* Alert popup */
.alert-config,
.alert {
  width: 100%;
}

/* Labels */
.main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  font-size: 14px;
  padding: 3px 3px;
  line-height: .9;
  z-index: -1;
}
.label {
  display: inline-block;
}
.label-config {
  padding: 9px 10px 10px;
  font-size: 100%;
}
.label-value {
  padding: 8px 10px 10px 12px;
  font: {
    size: 100%;
    weight: 400;
  }
  border: 1px solid;
  border-radius: 2px;
  margin-left: -2px;
}
.label-unity, .label-unity-big {
  font: {
    size: 100%;
    weight: 500;
  }
  line-height: 3rem;
}
@media (max-width: 767px) {
  .label-unity-big {
    margin-left: 15px;
  }
}
.label-badge {
  position: absolute;
  top: 10px;
  right: 0;
  width: 34px;
  height: 34px;
  text-align: center;
}
.legend-title {
  font-size: 15px;
  border: 1px solid;
  padding: 5px 8px;
  margin-bottom: 15px;
  background-color: whitesmoke;
}
.legend-section {
  margin-top: 50px;
}
.label-list {
  font-size: 95%;
  border: 1px solid;
  border-radius: 2px;
  margin: 4px 0px;
  padding: 19px;
}
.label-log {
  font-size: 95%;
  border: 1px solid;
  border-radius: 2px;
  margin: 4px 0px;
  padding: 0px 10px;
}
@media (max-width: 767px) {
  .legend-title {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .form-horizontal .control-label-big {
    margin-bottom: 5px;
    text-align: left;
  }
}
.label-icon {
  padding: 6px 10px 8px 9px;
  font-size: 100%;
  border: 1px solid;
  border-radius: 2px;
  margin: {
    left: -2px;
    top: 2px;
    bottom: 2px;
  }
  &>i {
    vertical-align: middle;
  }
}

.label-check {
  font-weight: 400;
}

.label-sticker {
  margin: {
    left: 15px;
    right: 15px;
  }
  font-size: 100%;
}

.label-sticker-big {
  font-size: 100%;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  margin: {
    left: 15px;
    right: 15px;
  }
}

/* Logos */
.login-logo,
.register-logo {
  font: {
    size: 35px;
    weight: 300;
    align: center;
  }

  padding: {
    bottom: 15px;
    top: 25px;
  }
  margin-bottom: 0px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.main-header .logo {
  height: 52px;
}

/* Progress bars */
.progress {
  margin-bottom: 10px;
}

/* Container */
.content-wrapper {
  min-height: 100%;
  background-color: $nextdom_bg;
  z-index: 800;
  padding: {
    left: 15px;
    right: 15px;
  }
}
.fixed .content-wrapper, .fixed .right-side {
  padding-top: 58px;
}
@media (max-width: 767px) {
  .fixed .content-wrapper, .fixed .right-side {
    padding-top: 106px;
  }
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
.container-light {
  padding-right: 5px;
  padding-left: 5px;
}
.wrapper.fullscreen header,
.wrapper.fullscreen footer,
.wrapper.fullscreen aside {
  display: none;
}
.wrapper.fullscreen .content-wrapper {
  margin-left: 0px !important;
}
.wrapper.fullscreen #div_mainContainer {
  margin-top: -50px;
}
#div_pageContainer{
  top: 10px;
}
.container-split {
  padding-left: 5px;
  padding-right: 5px;
}
.padding-bottom {
  padding-bottom: 10px;
}

/* Checkboxes */
input[type="checkbox"] {
  position: relative !important;
  top:9px;
  height: 22px;
  width: 22px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0 0 0 0;
}
/* frame */
[type="checkbox"]:not(:checked):before,
[type="checkbox"]:checked:before {
  content: '';
  position: absolute;
  left:0px; top: 0px;
  width: 18px;
  height: 17px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
/* content */
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
  content: '■';
  position: absolute;
  top: -11px;
  left:2px;
  font-size: 24px;
  transition: all .2s;
}
/* checked state */
[type="checkbox"]:not(:checked):after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* unchecked state */
[type="checkbox"]:checked:after {
  opacity: 0.9; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}
/* focus frame */
[type="checkbox"]:focus {
  outline: none !important;
}

/* Header clock */
.clock>a:hover {
  background: transparent !important;
}
.clock {
  height: 50px;
}
.clocktime {
  font-size: 15px;
  text-align: right;
  top: -8px;
}
.clockdate {
  font-size: 11px;
  text-align: right;
  top: -40px;
}

/* Param depends resolution */
@media (max-width: 767px) {
  .form-horizontal .control-label {
    padding-top: 7px;
  }
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    z-index: 1020;
  }
}

/* Tables */
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 6px;
  vertical-align: middle;
  font-size: 13px;
}

/* Info-box */
.info-box {
  min-height: 70px;
  margin-bottom: 10px;
}
.info-box-icon {
  height: 70px;
  width: 65px;
  font-size: 38px;
  line-height: 65px;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 65px;
}
.info-box-text-2 {
  text-transform:capitalize;
}

/* Widget */
.eqLogic-widget{
  max-width: 95%;
}

/* Modal */
.ui-dialog .ui-dialog-titlebar-close {
  right: 0.5em;
  top: 70%;
}
.ui-dialog {
  border-radius: 7px;
}

/* Icones */
.icon-big {
  font-size : 4em;
  color:$gray;
}

/* Objets */


#div_Update-view .box .box-header {
  min-height: 70px;
}

#div_Update-view .box .box-body {
  min-height: 110px;
}
