@charset "utf-8";

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

html {
  height: 100%;
  scroll-behavior: smooth;
  /* The html and body elements cannot have any padding or margin. */
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto','Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

/* Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 1030;
}

.main-sidebar {
  position: fixed;
}

.content-wrapper {
  min-height: 100%;
  background-color: $nextdom_bg;
  z-index: 800;
  margin: {
    top: 50px;
  }
}

/* Navs */
.navbar-custom-menu > .navbar-nav > li {
  position: unset;
}
.main-header .navbar {
  box-shadow: 2px 0 1px rgba(0, 0, 0, 0.5);
}
.nav-tabs-custom {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  & > .tab-content {
    background: $whitelightgray;
  }
}
.nav-tabs a {
  padding: 10px 10px !important;
}
.objectSummaryGlobalHeader {
    font-size: 15px;
    top: 16px;
    height: 49px;
}

/* Sidebar */
.sidebar-nav {
  padding: 9px 0;
}
.sidebar-collapse .user-panel {
  text-align: center;
}
.sidebar-collapse .user-panel div.image {
  width: 3rem;
  height: 3rem;
  margin:{
    left: auto;
    right: auto;
  }
  float: none !important;
  transition: all .2s;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  display: block !important;
  position: absolute;
  width: 230px;
  left: 50px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
  position: relative !important;
  float: right;
  width: auto !important;
  left: 180px !important;
  top: -22px !important;
  z-index: 900;
  opacity:0;
}
.sidebar-menu li>a>.pull-right-container {
  right: 5px;
}
.sidebar-menu>li>a {
  padding: 12px 5px 12px 13px;
}
.main-sidebar {
  -webkit-transition: -webkit-transform 0.2s ease-in, width 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in, width 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in, width 0.2s ease-in;
  transition: transform 0.2s ease-in, width 0.2s ease-in;
}

/* Menus */
.tasks-menu, .notifications-menu {
  top: 8px;
  left:-8px;
}

/* Notifs & Badges */
.notifbadge {
  position: inherit;
  top: 7px;
  left:-7px;
}
.notifcounter {
  margin:{
    top: 7px;
    right: 7px;
  }
}

/* Tooltip */
.tooltip-inner {
  padding: 8px 8px;
  border-radius: 8px;
  background: $lightblack;
}
.tooltip.in {
  opacity: 0.95;
}
.tooltip-arrow {
  border-top-color: $lightblack !important;
}

/* User panel */
.user-panel {
  padding-left: 7px;
  & > .info {
    padding: 10px 5px 5px 15px;
    line-height: 0.9;
    position: absolute;
    left: 55px;
  }
  & > .image > a > img {
    width: 100%;
    max-width: 50px;
    height: auto;
  }
}

/* Treeview */
.treeview-menu {
  padding: 5px 0;
  & > li {
    padding-top: 1px;
    padding-bottom: 1px;
    & > a {
      padding: 5px 0 5px 15px;
      word-break: break-all;
      white-space: normal;
      & >.icon {
        vertical-align: middle;
        padding-right: 5px;
      }
    }
  }
}
.plugin-item {
  padding-right: 7px;
  .img-responsive {
    width: 20px;
    display: inline-block;
  }
}
.treeview-menu .treeview-menu {
padding-left: 7px;
}

/* Form */
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: $lightgray;
  padding-left: 10px !important;
}

/* Boxs */
.box {
  position: relative;
  background: $white;
  border:{
    radius: 4px;
    left: 1px solid rgba(0,0,0,0.2);
    right: 1px solid rgba(0,0,0,0.2);
    top: 3px solid $lightgray;
  }
  margin-bottom: 20px;
  width: 100%;

}
.box.without-border {
  border-top: 0;
}

.box-header>.box-tools {
  top: 3px;
}

/*Login & Register page*/
.login-page,
.register-page {
  background: whitesmoke;
  overflow: hidden;
}
.login-box,
.register-box {
  width: 40%;
  min-width: 350px;
  max-width: 600px;
  margin: 7% auto;
}
.login-box-msg,
.register-box-msg {
  padding: 0 20px 7px 20px;
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;

  color: #666;
  box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: {
    top: 0;
    radius: 7px;
    top-left-radius: 0;
    top-right-radius: 0;
  }
}

/* Cards */
.eqLogicThumbnailContainer> div {
  background-color: rgba(0,0,0,0) !important;
  margin: {
    top:0;
  }
  box-shadow: none;
  border: none;
}

.card {
  border: 1px solid $whitegray;
  border-radius: .25rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: {
    bottom: 60px;
    top: 40px;
  }
  color: #333;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background: $white;
  word-wrap: break-word;
  background: {
    color: $white;
    clip: border-box;
  }
  & .card-header {
    border-bottom: none;
    background: transparent;
    padding: 0.75rem 0.9rem 0 0.9rem;
    margin-bottom: 0;
    z-index: 3!important;
    &:first-child {
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
      margin-top: -25px;
    }
  }
}

.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
  text-align: right;
}

.card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i {
  color: $white;
}

.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
  border-radius: 5px;
  background-color: $darkgray;
  margin: {
    top: -10px;
    right: 7px;
  }
  float: left;
  height: 50px;
  width: 50px;
  padding-top: 5px;
  text-align: center;
}

.card [class*=card-header-] .card-icon .icon {
  position: absolute;
  top: -18px;
  left: 20px;
}

.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text > i {
  font-size: 2em;
}

.card-body {
  margin: 0.75rem;
}

.card-category {
  position: relative;
  font-size: 16px;
  top: -8px;
}

.card-dash {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid;
}

.box-body {
  padding: 8px;
}

.box-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Alert popup */
.alert-config,
.alert {
  width: 100%;
}

/* Labels */
.main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  padding: 3px 3px;
  line-height: .9;
  z-index: -1;
}

.label {
  display: inline-block;
}

.label-config {
  padding: 9px 10px 10px;
  font-size: 100%;
}

.label-value {
  padding: 8px 10px 10px 12px;
  font: {
    size: 100%;
    weight: 400;
  }
  border: 1px solid;
  border-radius: 2px;
  margin-left: -2px;
}

.label-unity, .label-unity-big {
  font: {
    size: 100%;
    weight: 500;
  }
  line-height: 3rem;
}

@media (max-width: 767px) {
  .label-unity-big {
    margin-left: 15px;
  }
}

.label-badge {
  position: absolute;
  top: 10px;
  right: 0;
  width: 34px;
  height: 34px;
  text-align: center;
}

.legend-title {
  font-size: 15px;
  padding: 5px 8px;
  margin-bottom: 15px;
  background-color: whitesmoke;
}

.legend-section {
  margin-top: 50px;
}

.label-list {
  font-size: 95%;
  border: 1px solid;
  border-radius: 2px;
  margin: 4px 0;
  padding: 19px;
}

.nav>.label-log>a {
  padding: 10px 10px;
}

.label-log {
  font-size: 95%;
  border: 1px solid;
  border-radius: 2px;
  margin: 4px 0;
}

@media (max-width: 767px) {
  .legend-title {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .form-horizontal .control-label-big {
    margin-bottom: 5px;
    text-align: left;
  }
}

.label-icon {
  padding: 6px 10px 8px 9px;
  font-size: 100%;
  border: 1px solid;
  border-radius: 2px;
  margin: {
    left: -2px;
    top: 2px;
    bottom: 2px;
  }
  & >i {
    vertical-align: middle;
  }
}

.label-check {
  font-weight: 400;
}

.label-sticker {
  margin: {
    left: 15px;
    right: 15px;
  }
  font-size: 100%;
}

.label-sticker-big {
  font-size: 100%;
  padding: {
    top: 10px;
    bottom: 10px;
  }
  margin: {
    left: 15px;
    right: 15px;
  }
}
.label-hash {
  word-break: break-all;
  white-space: normal;
}

/* Logos */
.login-logo,
.register-logo {
  font: {
    size: 35px;
    weight: 300;
    align: center;
  }

  padding: {
    bottom: 15px;
    top: 25px;
  }
  margin-bottom: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.main-header .logo {
  height: 50px;
  font-size: 18px;
  line-height: 48px;
}

/* Progress bars */
.progress {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .fixed .content-wrapper, .fixed .right-side {
    padding-top: 106px;
  }
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
.container-light {
  padding-right: 5px;
  padding-left: 5px;
}
.wrapper.fullscreen header,
.wrapper.fullscreen footer,
.wrapper.fullscreen aside {
  display: none;
}
.wrapper.fullscreen .content-wrapper {
  margin-left: 0 !important;
}
.wrapper.fullscreen #div_mainContainer {
  margin-top: -50px;
}
#div_pageContainer{
  position: relative;
  overflow: hidden;
  & .iconlist{
    background-color : rgba(255,255,255,0);
    padding : 10px;
    border-radius: 2px;
    margin : 10px;
    cursor: pointer;
  }
}
.container-split {
  padding-left: 5px;
  padding-right: 5px;
}
.padding-bottom {
  padding-bottom: 10px;
}

/* Checkboxes */
input[type="checkbox"] {
  position: relative !important;
  top:9px;
  height: 22px;
  width: 22px;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0 0 0 0;
}
/* frame */
[type="checkbox"]:not(:checked):before,
[type="checkbox"]:checked:before {
  content: '';
  position: absolute;
  left:0; top: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
/* content */
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
  content: '■';
  position: absolute;
  top: -9px;
  left:1px;
  font-size: 24px;
  transition: all .2s;
}
/* checked state */
[type="checkbox"]:not(:checked):after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* unchecked state */
[type="checkbox"]:checked:after {
  opacity: 0.9; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}
/* focus frame */
[type="checkbox"]:focus {
  outline: none !important;
}

/* Header clock */
.clock>a:hover {
  background: transparent !important;
}
.clock {
  height: 50px;
}
.clocktime {
  font-size: 15px;
  text-align: right;
  top: -8px;
}
.clockdate {
  font-size: 11px;
  text-align: right;
  top: -40px;
}

/* Param depends resolution */
@media (max-width: 767px) {
  .form-horizontal .control-label {
    padding-top: 7px;
  }
}
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    z-index: 1020;
  }
}

/* Tables */
.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
  padding: 6px;
  vertical-align: middle;
  font-size: 13px;
}

/* Info-box */
.info-box {
  min-height: 70px;
  margin-bottom: 10px;
}
.info-box-icon {
  height: 70px;
  width: 65px;
  font-size: 38px;
  line-height: 65px;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 65px;
}
.info-box-text-2 {
  text-transform:capitalize;
}

/* Objets */
#div_Update-view .box .box-header {
  min-height: 70px;
}
#listPlugin .box .box-body {
  min-height: 180px;
}
.panel:hover{
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.15);
}

/* actionBar */
.action-bar {
  padding: 6px 8px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: $white;
  border:{
  radius: 3px;
    left: 1px solid rgba(0,0,0,0.2);
    right: 1px solid rgba(0,0,0,0.2);
  }
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Modales */
.ui-widget-content {
  border: none;
}
.ui-dialog .ui-dialog-title {
  padding: 7px 5px 5px 0px;
}
.ui-dialog .ui-dialog-titlebar-close {
  opacity: 1;
}

/* footer */
.main-footer {
  min-height: 20px;
  padding:{
    bottom: 10px;
    left: 15px;
  }
  position: inherit;
  bottom: 0;
  width: 100%;
  & .form-group {
      margin-bottom: 0px;
  }
}

/* carrousel */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
}
