@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Boxs */
.box {
    position: relative;
    background: $white;
    border:{
        radius: 4px;
        left: 1px solid rgba(0,0,0,0.2);
        right: 1px solid rgba(0,0,0,0.2);
        top: 1px solid $lightgrey;
    }
    margin-bottom: 20px;
    width: 100%;
}

.box-success,
.box-warning,
.box-danger,
.box-primary,
.box-summary {
    border-top:{
        style: solid;
        width: 3px;
    }
}

.box.without-border {
    border-top: 0;
}

.box-header>.box-tools {
    top: 3px;
}

.objet {
    min-height: 0px;
}

/* Info-box */
.info-box {
    min-height: 70px;
    margin-bottom: 10px;
}

.info-box-small {
    min-height: 50px;
    margin-bottom: 5px;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 65px;
}
.info-box-small-content {
    margin-left: 50px;
}

.info-box-text-2 {
    text-transform:capitalize;
}

/* Objets */
#div_Update-view .box .box-header {
    min-height: 70px;
}

#listPlugin .box .box-body,
#listWidget .box .box-body ,
#listScript .box .box-body,
#listOther .box .box-body {
    min-height: 180px;
}

#listCore .box .box-body {
    min-height: 10px;
}

/* Summry */
.summaryConfig {
    margin: 7px 0px 0px 5px;
}
.eqLogicSortable {
    list-style-type: none;
    min-height: 30px;
    padding-left: 0px;
}
.eqLogicSortable li {
    margin: 0 0 4px 0;
    padding: 1px 7px 5px 7px;
}

.cmdSortable {
    list-style-type: none;
    min-height: 20px;
    padding-left: 0px;
}

.cmdSortable li {
    margin: 0 2px 2px 2px;
    padding: 5px;
}
