@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/*Login & Register page*/
.login-page,
.register-page {
    background: whitesmoke;
    overflow: hidden;
}

.login-box,
.register-box {
    width: 380px;
    margin: 7% auto;
}

.login-box-msg,
.register-box-msg {
    padding: 0 20px 7px 20px;
}

.login-box-body,
.register-box-body {
    background: $white;
    padding: 20px;
    color: #666;
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: {
        top: 0;
        radius: 7px;
        top:{
            left-radius: 0;
            right-radius: 0;
        }
    }
}
