@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Logos */
.login-logo,
.register-logo {
    font: {
        size: 35px;
        weight: 300;
        align: center;
    }
    padding: {
        bottom: 15px;
        top: 25px;
    }
    margin-bottom: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.main-header .logo {
    height: 50px;
    font-size: 18px;
    line-height: 48px;
}

.main-header > .logo {
    border-bottom: 0 solid transparent;
}

.logo-mini-img{
    background:url("/public/img/NextDom/NextDom_Square_AlphaBlackWhite.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 50px;
    width:0px;
    height:40px;
}
.logo-lg-img{
    background:url("/public/img/NextDom/NextDom_Wide_AlphaBlackWhite.png");
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 210px;
    width:0px;
    height:40px;
}
.login-logo-img{
    background:url("/public/img/NextDom/NextDom_Wide_AlphaBlackWhite.png");
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 380px;
    width:0px;
    height:100px;
}
