/*
 * Skin: Purple
 * ------------
 */

.logo-mini-img{
  content:url("/public/img/NextDom/NextDom_Square_AlphaWhite.png");
}

.logo-lg-img{
  content:url("/public/img/NextDom/NextDom_Wide_AlphaBlueWhite.png");
}

.main-header .navbar {
  background-color: #605ca8;
}
.main-header .navbar .nav > li > a {
  color: #ffffff;
}
.main-header .navbar .nav > li > a:hover,
.main-header .navbar .nav > li > a:active,
.main-header .navbar .nav > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus,
.main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.main-header .navbar .sidebar-toggle {
  color: #fff;
}
.main-header .navbar .sidebar-toggle:hover {
  background-color: #555299;
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .main-header .navbar .dropdown-menu li a:hover {
    background: #555299;
  }
}
.main-header .logo {
  background-color: #555299;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.main-header .logo:hover {
  background-color: #545096;
}
.main-header li.user-header {
  background-color: #605ca8;
}
.content-header {
  background: transparent;
}
.wrapper,
.main-sidebar,
.left-side {
  background-color: #222d32;
}
.user-panel > .info,
.user-panel > .info > a {
  color: #fff;
}
.sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a,
.sidebar-menu > li.menu-open > a {
  color: #ffffff;
  background: #1e282c;
}
.sidebar-menu > li.active > a {
  border-left-color: #605ca8;
}
.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.sidebar a {
  color: #b8c7ce;
}
.sidebar a:hover {
  text-decoration: none;
}
.sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.sidebar-menu .treeview-menu > li.active > a,
.sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}

.icon_theme_color {
  color: #605ca8;
}

.text_color {
  color: #605ca8;
}

.backgroundColor{
  background-color: #605ca8;
}

.skin-purple::-webkit-scrollbar-thumb{
  background:#605ca8;
}

[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
  color: #605ca8;
}

.ui-dialog .ui-dialog-title{
  color: #fff;
}

.ui-dialog .ui-dialog-titlebar{
  background-color: #605ca8;
  padding: 0px 15px;
}