/*
 * Skin: Black
 * -----------
 */
.logo-mini-img{
  content:url("/public/img/NextDom/NextDom_Square_AlphaWhiteBlue.png");
}

.logo-lg-img{
  content:url("/public/img/NextDom/NextDom_Wide_AlphaWhiteBlue.png");
}

/*navbar */
.main-header {
  border-bottom: 1px solid #d2d6de;
}
.main-header .navbar-toggle {
  color: #333;
}
.main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #d2d6de;
}
.main-header .navbar {
  background-color: #ffffff;
}
.main-header .navbar .nav > li > a {
  color: #333333;
}
.main-header .navbar .nav > li > a:hover,
.main-header .navbar .nav > li > a:active,
.main-header .navbar .nav > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus,
.main-header .navbar .nav > .active > a {
  background: #ffffff;
  color: #999999;
}
.main-header .navbar .sidebar-toggle {
  color: #333333;
}
.main-header .navbar .sidebar-toggle:hover {
  color: #999999;
  background: #ffffff;
}
.main-header .navbar > .sidebar-toggle {
  color: #333;
  border-right: 1px solid #d2d6de;
}
.main-header .navbar .navbar-nav > li > a {
  border-right: 1px solid #d2d6de;
}
.main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #d2d6de;
  border-right-width: 0;
}
.main-header > .logo {
  background-color: #ffffff;
  color: #333333;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #d2d6de;
}
.main-header > .logo:hover {
  background-color: #fcfcfc;
}
@media (max-width: 767px) {
  .main-header > .logo {
    background-color: #222222;
    color: #ffffff;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
  .main-header > .logo:hover {
    background-color: #1f1f1f;
  }
}
.main-header li.user-header {
  background-color: #222;
}
.content-header {
  background: transparent;
  box-shadow: none;
}
.wrapper,
.main-sidebar,
.left-side {
  background-color: #f9fafc;
}
.main-sidebar {
  border-right: 1px solid #d2d6de;
}
.user-panel > .info,
.user-panel > .info > a {
  color: #444444;
}
.sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
}
.sidebar-menu > li.active {
  border-left-color: #ffffff;
}
.sidebar-menu > li.active > a {
  font-weight: 600;
}
.sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.sidebar a {
  color: #444444;
}
.sidebar a:hover {
  text-decoration: none;
}
.sidebar-menu .treeview-menu > li > a {
  color: #777777;
}
.sidebar-menu .treeview-menu > li.active > a,
.sidebar-menu .treeview-menu > li > a:hover {
  color: #000000;
}
.sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}
.sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}

.pace .pace-progress {
  background: #222;
}

.backgroundColor{
  background-color: #222;
}
.pace .pace-activity {
  border-top-color: #222;
  border-left-color: #222;
}

.skin-black-light::-webkit-scrollbar-thumb{
  background:#222;
}

[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
  color: #222;
}

.ui-dialog .ui-dialog-title{
  color: #fff;
}

.ui-dialog .ui-dialog-titlebar{
  background-color: #222;
  padding: 0px 15px;
}

.category-filter-fab {
  background-color: #222;
}