/* Skin: Red */
@import "../_colors.scss";

/* Accent colors */
$nextdom_accent: $red;
$nextdom_primary: $red;
$nextdom_polar_accent: $white;
$nextdom_table_title:$whitegray;
$nextdom_gray_title: $whitegray;

/* Theme base */
.icon_theme_color {
  color: $nextdom_accent;
}
.backgroundColor{
  background-color: $nextdom_accent;
}

/* Logos & Header */
.logo-mini-img{
  content:url("/public/img/NextDom/NextDom_Square_AlphaWhite.png");
}
.logo-lg-img{
  content:url("/public/img/NextDom/NextDom_Wide_AlphaWhite.png");
}
.login-logo-img{
  content:url("/public/img/NextDom/NextDom_Wide_AlphaWhite.png");
}
.login-logo{
  background-color: $nextdom_accent;
}
.main-header .logo {
  background-color: $nextdom_accent;
  color: $nextdom_polar_accent;
  border-bottom: 0 solid transparent;
}
.main-header .logo:hover {
  background-color: $nextdom_accent;
}
.main-header li.user-header {
  background-color: $nextdom_accent;
}
.content-header {
  background: transparent;
}

/* Labels & Texts */
.text_color {
  color: $nextdom_accent;
}
.label-config {
  background-color: $nextdom_accent;
}
.Link-Blue {
  color: $nextdom_accent;
}
.label-value, .label-icon {
    background-color: $nextdom_gray_title;
    color: $black !important;
    border-color: $lightgray
}
.label-unity, .label-unity-big {
    color: $darkgray !important;
}
.legend-title {
    border-color: $nextdom_gray_title;
}
.label-list {
    background-color: $lightgolden;
    color: $gray !important;
    border-color: $lightgray;
}
.label-log {
    background-color: $lightgolden;
    color: $gray !important;
    border-color: $lightgray;
}

/* Checkbox */
[type="checkbox"]:not(:checked):before,
[type="checkbox"]:checked:before {
  background: $nextdom_polar_accent;
}
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
  color: $nextdom_accent;
}
.has-error [type="checkbox"]:checked:after,
.has-error [type="checkbox"]:checked:after {
    color: $red;
}

/* buttons */
.btn-primary {
  background-color: $nextdom_primary;
  border-color: $nextdom_primary;
}

.btn-action {
    background-color: $darkgray;
    color: $nextdom_polar_accent;
    border-color: $gray;
}

/* Tables */
.table-condensed>thead {
  background-color: $nextdom_table_title;
  border-bottom: 1px solid $lightgray;
  border-top: 1px solid $lightgray;
}
.table-condensed {
  background-color: $whitelightgray;
}

/* Navs */
.main-header .navbar {
  background-color: $nextdom_accent;
}
.main-header .navbar .nav > li > a {
  color: $nextdom_polar_accent;
}
.main-header .navbar .nav > li > a:hover,
.main-header .navbar .nav > li > a:active,
.main-header .navbar .nav > li > a:focus,
.main-header .navbar .nav .open > a,
.main-header .navbar .nav .open > a:hover,
.main-header .navbar .nav .open > a:focus,
.main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: $nextdom_gray_title;
}
.main-header .navbar .sidebar-toggle {
  color: $nextdom_polar_accent;
}
.main-header .navbar .sidebar-toggle:hover {
  color: $nextdom_gray_title;
  background: rgba(0, 0, 0, 0.1);
}
.main-header .navbar .sidebar-toggle {
  color: $nextdom_polar_accent;
}
.main-header .navbar .sidebar-toggle:hover {
  background-color: $nextdom_accent;
}
@media (max-width: 767px) {
  .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .main-header .navbar .dropdown-menu li a {
    color: $nextdom_polar_accent;
  }
  .main-header .navbar .dropdown-menu li a:hover {
    background: $nextdom_accent;
  }
}
.dashMode {
  color: $nextdom_polar_accent;
}
.editionMode {
  color: $black;
}

/* Sidebar */
.wrapper,
.main-sidebar,
.left-side {
  background-color: #222d32;
}
.user-panel > .info,
.user-panel > .info > a {
  color: $nextdom_polar_accent;
}
.sidebar-menu > li.header {
  color: $nextdom_accent;
  background: #1a2226;
}
.sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.sidebar-menu > li:hover > a,
.sidebar-menu > li.menu-open > a {
  color: $nextdom_polar_accent;
  background: #1e282c;
  border-left-color: $nextdom_accent;
}
.sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.sidebar a {
  color: #b8c7ce;
}
.sidebar a:hover {
  text-decoration: none;
}
.sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.sidebar-menu .treeview-menu > li.active > a,
.sidebar-menu .treeview-menu > li > a:hover {
  color: $nextdom_polar_accent;
}
.sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.sidebar-form input[type="text"] {
  color: $gray;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: $nextdom_polar_accent;
  color: $gray;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: $nextdom_polar_accent;
}
.sidebar-form .btn {
  color: $darkgray;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.main-header > .logo {
  background-color: $nextdom_accent;
  color: $nextdom_polar_accent;
  border-bottom: 0 solid transparent;
}
.main-header > .logo:hover {
  background-color: $nextdom_accent;
}

/* Title */
.ui-dialog .ui-dialog-title{
  color: $nextdom_polar_accent;
}
.ui-dialog .ui-dialog-titlebar{
  background-color: $nextdom_accent;
  padding: 0px 15px;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background:$nextdom_accent;
    background-color: $nextdom_accent;
}

.fab-action-button {
  background:$nextdom_accent;
}