@import "../theme-color.scss";

.packery-item {
  background-color: $textPrimary;
  margin: 1%;
  padding-bottom: 0.5rem;
}

.packery-item.small {
  width: 48%;
}

.packery-item.large {
  width: 98%;
}

.widget-title {
  position: relative;
  width: 100%;
  background-color: $primary;
  color: $textPrimary;
  font-size: 0.8rem;
  text-transform: uppercase;
  height: 2.2rem;
  line-height: 2.2rem;
  margin-bottom: 0;
}

.widget-title {
  .title {
    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    display: block;
  }

  span.title {
    position: absolute;
    left: 0;
  }

  button {
    margin: 0;
    padding: 0;
    height: 2.2rem;
    width: 2.2rem;
  }
}

.cmds-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.cmds-icon {
  .cmd.icon {
    display: flex;
    flex: 1 1 auto;
  }
  .cmd.icon i {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }
  .info-cmd {
    margin-left: auto;
    margin-right: auto;
  }
}

.packery-item .cmd::after,
.cmds-data::before {
  content: "";
  clear: both;
  display: block;
}

.cmds-data {
  .cmd {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .cmd:nth-child(odd) {
    background-color: $info;
  }
  .mu-slider {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.3rem;
    width: 98%;
  }
}

.cmds-button {
  text-align: center;
  overflow: hidden;
}

.cmds-button {
  .cmd {
    display: inline-block;
  }
  button {
    margin: 0.2rem;
  }
}
.cmds-button::after {
  content: "";
  clear: both;
}

.packery-item .half-size {
  width: 50%;
  float: left;
}
