<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="../../vendor/autoload.php"
        cacheTokens="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        printerClass="PHPUnit_TextUI_ResultPrinter"
        processIsolation="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        stderr="true"
        testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="false">
    <testsuites>
        <testsuite name="Managers">
            <file>BackupManagerTest.php</file>
            <file>CmdManagerTest.php</file>
            <file>ConfigManagerTest.php</file>
            <file>EqLogicManagerTest.php</file>
            <file>EventManagerTest.php</file>
            <file>NoteManagerTest.php</file>
            <file>ObjectManagerTest.php</file>
            <file>ScenarioExpressionManagerTest.php</file>
            <file>UpdateManagerTest.php</file>
            <file>UserManagerTest.php</file>
        </testsuite>
        <testsuite name="Helpers">
            <file>AjaxHelperTest.php</file>
            <file>ClientTest.php</file>
            <file>FileSystemHelperTest.php</file>
            <file>NextDomHelperTest.php</file>
            <file>UtilsTest.php</file>
        </testsuite>
        <testsuite name="Entities">
            <file>CronTest.php</file>
            <file>EqLogicTest.php</file>
            <file>NoteTest.php</file>
            <file>PluginTest.php</file>
            <file>ScenarioTest.php</file>
        </testsuite>
        <testsuite name="Controllers">
            <directory>../phpunit_tests/Controllers</directory>
        </testsuite>
        <testsuite name="Rest">
            <directory>../phpunit_tests/Rest</directory>
        </testsuite>
        <testsuite name="Others">
            <file>EnumTest.php</file>
            <file>I18nTest.php</file>
        </testsuite>
        <testsuite name="AllTests">
            <directory>../phpunit_tests</directory>
            <directory>../phpunit_tests/Ajax</directory>
            <directory>../phpunit_tests/Rest</directory>
            <directory>../phpunit_tests/Controllers</directory>
        </testsuite>
        <testsuite name="current">
            <directory>../phpunit_tests/IndexTest.php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../</directory>
            <exclude>
                <directory>../../core</directory>
                <directory>../../assets</directory>
                <directory>../../install</directory>
                <directory>../../scripts</directory>
                <directory>../../tests</directory>
                <directory>../../var</directory>
                <directory>../../vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="../coverage/clover.xml"/>
        <log type="junit" target="../coverage/junitlog.xml"/>
    </logging>
</phpunit>
