<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="../../vendor/autoload.php"
        cacheTokens="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        printerClass="PHPUnit\TextUI\ResultPrinter"
        processIsolation="true"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        stderr="true"
        testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
        beStrictAboutTestsThatDoNotTestAnything="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="true">
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    <testsuites>
        <testsuite name="Ajax">
            <directory>Ajax</directory>
        </testsuite>
        <testsuite name="Managers">
            <directory>Managers</directory>
        </testsuite>
        <testsuite name="Helpers">
            <directory>Helpers</directory>
        </testsuite>
        <testsuite name="Entities">
            <directory>Entities</directory>
        </testsuite>
        <testsuite name="Controllers">
            <directory>Controllers</directory>
        </testsuite>
        <testsuite name="Rest">
            <directory>Rest</directory>
        </testsuite>
        <testsuite name="Others">
            <directory>Others</directory>
        </testsuite>
        <testsuite name="Gui">
            <directory>Gui</directory>
        </testsuite>
        <testsuite name="Features">
            <directory>Features</directory>
        </testsuite>
        <testsuite name="AllTests">
            <directory>Gui</directory>
            <directory>Ajax</directory>
            <directory>Features</directory>
            <directory>Others</directory>
            <directory>Rest</directory>
            <directory>Controllers</directory>
            <directory>Entities</directory>
            <directory>Others</directory>
            <directory>Helpers</directory>
            <directory>Managers</directory>
        </testsuite>
        <testsuite name="AllTestsNoGui">
            <directory>Features</directory>
            <directory>Ajax</directory>
            <directory>Others</directory>
            <directory>Rest</directory>
            <directory>Controllers</directory>
            <directory>Entities</directory>
            <directory>Others</directory>
            <directory>Helpers</directory>
            <directory>Managers</directory>
        </testsuite>
        <testsuite name="current">
            <directory>Entities/InteractDefTest.php</directory>
            <directory>Managers/InteractDefManagerTest.php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../</directory>
            <exclude>
                <directory>../../core</directory>
                <directory>../../assets</directory>
                <directory>../../install</directory>
                <directory>../../scripts</directory>
                <directory>../../tests</directory>
                <directory>../../var</directory>
                <directory>../../vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="../coverage/clover.xml"/>
        <log type="junit" target="../coverage/junitlog.xml"/>
    </logging>
</phpunit>
