@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Icones générales */
.icon-big {
  font-size : 4em;
  color:$grey;
}
.icon_gestion {
  height : 120px;
  width : 140px;
  & > i {
    font-size : 4em;
    margin-top:5px;
  }
  & > i > div >span{
    font-size : 1em;
    position:relative;
    top : 15px;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  & img{
    border:{
      top:{
        left-radius: 10px;
        right-radius: 4px;
      }
      bottom:{
        left-radius: 4px;
        right-radius: 10px;
      }
    }
    margin-bottom: 5px;
    padding: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
}

.icon-health {
  color:grey;
  font-size:0.9em;
}

.info-box-icon {
  height: 70px;
  width: 65px;
  font-size: 38px;
  line-height: 65px;
}
.info-box-small-icon {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  width: 50px;
}
/* fin icones génrales */

/* page icon_selector */
.divIconSel{
  height: 80px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.iconSel{
  line-height: 1.4;
  font-size: 1.5em;
}

.iconSelected{
  background-color: #563d7c;
  color: white;
}

.iconDesc{
  font-size: 0.8em;
}
/* fin page icon_selector */
