@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Modales */
.ui-dialog {
  z-index: 5000;
  background-clip: unset;
  box-shadow:0 3px 30px rgba(0,0,0,0.6);
  padding: 0px 0 0px 0px;
  & .ui-dialog-titlebar-close {
    right: 0.5em;
    top: 70%;
  }
  & .ui-dialog-title {
    padding: 7px 5px 5px 0px;
  }
  & .ui-dialog-titlebar-close {
    opacity: 1;
  }
  position: fixed !important;
  height: 90% !important;
  width: 96% !important;
  top: 5% !important;
  left: 2% !important;
  overflow-y: auto;
}

.modal {
  z-index: 9999;
}

.ui-widget-overlay {
  position: fixed;
}

.ui-dialog .ui-dialog-titlebar {
  border-bottom: none;
}

.ui-widget-content {
  background-image: none;
}

.modal-content {
  border-radius: 6px;
}

.modal-header {
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-footer {
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
