/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

#div_alert {
    display: none;
    margin:10px auto;
    width: 80%;
}

.alert{
    width: 80%;
    margin: 10px auto;
    border-left: 5px solid $lightyellow;
}

.alert-danger {
    border-left: 5px solid #DFAAA9;
    box-shadow: 0 0 0 0 rgba(235, 204, 209, 0.7) !important;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
}

.alert-danger {
    border-left: 5px solid $lightred;
}

.alert-info {
    border-left: 5px solid $lightblue;
}

.alert-success {
    border-left: 5px solid $lightgreen;
}
