 .highcharts-data-table {
  th {
    border-bottom-width: 2px;
    border: 1px solid $lightgrey;
    padding: 5px;
    vertical-align: bottom;
    line-height: 1.42857143;
    text-align: left;
    font-weight: bold;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  td {
    border: 1px solid $lightgrey;
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
  }
}

.highcharts-table-caption {
  display: none;
}

.highcharts-axis-labels{
    color:$black;
}
.highcharts-data-label text {
	font-weight: bold;
	fill: $black;
}
.highcharts-data-table tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.highcharts-data-table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

.highcharts-table-caption{
  display: none;
}

.highcharts-data-table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
}

.highcharts-data-table thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}