@charset "utf-8";
/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Colors variables */
$white:#FFF;
$lightgrey:#ddd;
$nextdom_bg:#ecf0f5;
$whitegrey: #f5f5f5;
$whitelightgrey: #fafafa;
$lightgolden:#fdfdf2;
$black:#000;
$verydarkgrey:#333;
$lightblack:#222d32;
$grey:#666;
$lightenGrey:#e7e7e7;
$darkgrey: #999;

$lightblue:#B3D7EF;
$nextdom_blue:#33b8cc;
$blue:#337ab7;
$purple:#563d7c;

$red:#c9302c;
$critical: #e74c3c;
$lightred:#DFAAA9;
$green: #00cc00;
$lightgreen:#5cb85c;
$good: #2ecc71;

$orange: #ec971f;
$warn: #f1c40f;
$yellow:#BFFF00;
$lightyellow:#F3E5A7;

/* Accent colors by defaut, the real color is set in adminLTE/skin-xxx */
$nextdom_accent: $black;
$nextdom_primary: $black;
$nextdom_polar_accent: $white;
$nextdom_table_title: $whitegrey;
$nextdom_grey_title: $whitegrey;

.good {
    background-color: $good
}

.warning {
    background-color: $warn
}

.critical {
    background-color: $critical
}

.text-white{
    color: $white !important;
}

.text-nextdom_blue{
    color: $nextdom_blue !important;
}

.text-critical{
    color: $critical !important;
}

.text-gray{
    color: #707070 !important;
}

.nextdom_blue{
    color: $nextdom_blue;
}

.jeedomGreen{
    background-color: #96c927;
}

.lightenGrey{
    background-color: $lightenGrey;
}

.bt_editDashboardWidgetUniformize,
.bt_editDashboardWidgetAutoResize,
.bt_editDashboardWidgetGridResize {
    color: $black;
}
