/* Déclaration variables couleurs */
$white:#FFF;
$black:#000;
$orange: #ec971f;
$nextdom_blue:#33b8cc;
$nextdom_bg:#ecf0f5;
$red:#c9302c;
$lightred:#DFAAA9;
$green: #00cc00;
$lightgreen:#5cb85c;
$grey:#666;
$lightgrey:#ddd;
$blue:#337ab7;
$lightblue:#B3D7EF;
$yellow:#BFFF00;
$lightyellow:#F3E5A7;
$purple:#563d7c;
$good: #2ecc71;
$warn: #f1c40f;
$critical: #e74c3c;
$whitegray: #f5f5f5;
$whitelightgray: #fafafa;
$darkgray: #999;
$lightgolden:#fdfdf2;

/* Activation couleurs d'accentuation par défaut, sinon c'est dans 3rdparty/adminLTE/skin */
$nextdom_accent: $nextdom_blue;
$nextdom_primary: $nextdom_blue;
$nextdom_polar_accent: $white;
$nextdom_table_title:$lightgolden;

.text-white{
    color: $white ;
}
.text-black{
    color: $black;
}
.text-orange{
    color: $orange;
}
.text-nextdom_blue{
    color: $nextdom_blue;
}
.text-red{
    color: $red;
}
.text-lightred{
    color: $lightred;
}
.text-green{
    color: $green;
}
.text-lightgreen{
    color: $lightgreen;
}
.text-grey{
    color: $grey;
}
.text-lightgrey{
    color: $lightgrey;
}
.text-blue{
    color: $blue;
}
.text-lightblue{
    color: $lightblue;
}
.text-yellow{
    color: $yellow;
}
.text-lightyellow{
    color: $lightyellow;
}
.text-purple{
    color: $purple;
}
.icon-white{
    color: $white ;
}
.icon-black{
    color: $black;
}
.icon-orange{
    color: $orange;
}
.icon-nextdom_blue{
    color: $nextdom_blue;
}
.icon-red{
    color: $red;
}
.icon-lightred{
    color: $lightred;
}
.icon-green{
    color: $green;
}
.icon-lightgreen{
    color: $lightgreen;
}
.icon-grey{
    color: $grey;
}
.icon-lightgrey{
    color: $lightgrey;
}
.icon-blue{
    color: $blue;
}
.icon-lightblue{
    color: $lightblue;
}
.icon-yellow{
    color: $yellow;
}
.icon-lightyellow{
    color: $lightyellow;
}
.icon-purple{
    color: $purple;
}
