/* Colors variables */
$white:#FFF;
$black:#000;
$orange: #ec971f;
$nextdom_blue:#33b8cc;
$nextdom_bg:#ecf0f5;
$red:#c9302c;
$lightred:#DFAAA9;
$green: #00cc00;
$lightgreen:#5cb85c;
$gray:#666;
$lightgray:#ddd;
$blue:#337ab7;
$lightblue:#B3D7EF;
$yellow:#BFFF00;
$lightyellow:#F3E5A7;
$purple:#563d7c;
$good: #2ecc71;
$warn: #f1c40f;
$critical: #e74c3c;
$whitegray: #f5f5f5;
$whitelightgray: #fafafa;
$darkgray: #999;
$lightgolden:#fdfdf2;
$lightblack:#222d32;

/* Accent colors by defaut, the real color is set in 3rdparty/adminLTE/skin-xxx */
$nextdom_accent: $black;
$nextdom_primary: $black;
$nextdom_polar_accent: $white;
$nextdom_table_title: $whitegray;
$nextdom_gray_title: $whitegray;

.text-white{
    color: $white ;
}
.text-black{
    color: $black;
}
.text-orange{
    color: $orange;
}
.text-nextdom_blue{
    color: $nextdom_blue;
}
.text-red{
    color: $red;
}
.text-lightred{
    color: $lightred;
}
.text-green{
    color: $green;
}
.text-lightgreen{
    color: $lightgreen;
}
.text-gray{
    color: $gray;
}
.text-lightgray{
    color: $lightgray;
}
.text-blue{
    color: $blue;
}
.text-lightblue{
    color: $lightblue;
}
.text-yellow{
    color: $yellow;
}
.text-lightyellow{
    color: $lightyellow;
}
.text-purple{
    color: $purple;
}
.icon-white{
    color: $white ;
}
.icon-black{
    color: $black;
}
.icon-orange{
    color: $orange;
}
.icon-nextdom_blue{
    color: $nextdom_blue;
}
.icon-red{
    color: $red;
}
.icon-lightred{
    color: $lightred;
}
.icon-green{
    color: $green;
}
.icon-lightgreen{
    color: $lightgreen;
}
.icon-gray{
    color: $gray;
}
.icon-lightgray{
    color: $lightgray;
}
.icon-blue{
    color: $blue;
}
.icon-lightblue{
    color: $lightblue;
}
.icon-yellow{
    color: $yellow;
}
.icon-lightyellow{
    color: $lightyellow;
}
.icon-purple{
    color: $purple;
}
