@import "_buttons.scss";
@import "_alerts.scss";  
@import "_scenario.scss";

.default-cursor {
  cursor: default;
}

#md_pageHelp {
  display: none;
}

.cursor{
  cursor : pointer;
}

.binary{
  margin-left: 5px;
  position: relative;
  top: 2px;
  width : 15px;
  height : 15px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
}

#div_pageContainer {
  position: relative;
  overflow: hidden;
  & .iconlist{
    background-color : rgba(255,255,255,0);
    padding : 10px;
    border-radius: 2px;
    margin : 10px;
    cursor: pointer;
  }
}


#jqueryLoadingDiv .overlay {
  background-image: url(/3rdparty/jquery.utils/gritter.png);
}

.plugin-item {
  padding-right: 10px;
  .img-responsive {
    width: 20px;
    display: inline-block;
  }
}

.green{
  background-color: $green;
}

.red{
  background-color: $red;
}

.grey{
  background-color: $gray;
}

.blue{
  background-color: $blue;
}
.icon_blue{
  color: $blue;
}

.icon_nextdom_blue{
  color: $nextdom_blue;
}

.nextdom_blue{
  color: $nextdom_blue;
}
.orange{
  background-color: $orange;
}

.yellow{
  background-color: $yellow;
}

.white{
  background-color: $white;
}

.icon_white{
  color: $white;
}

.eqLogic-battery {
  min-width:100px;
  min-height:150px;
  text-align: center;
  &.good {
    background-color: $good;
  }
  &.warning {
    background-color: $warn;
  }
  &.critical {
    background-color: $critical;
  }
  & .informations {
    font-size : 0.8em;
    margin: {
      bottom: 3px;
      right: 5px;
    }
    cursor:default;
  }
  & .manual-threshold {
    position:absolute;
    bottom: 3px;
    right: 3px;
    cursor:default;
  }
}

.eqLogic-name {
  font-size: 1em;
  display: block;
}

.eqLogic-place {
  font-size: 0.95em;
  position:relative;
  top:-5px;
  cursor:default;
}

.eqLogic-battery-icon {
  font-size:2.2em;
  margin:{
    top:-25px;
    bottom:-25px;
  }
  & i {
    font-size: 2.5em;
  }
}

.eqLogic-percent {
  font:{
    size:1.2em;
    weight: bold;
  }
  cursor:default;
}

.panel:hover{
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.15);
}

.icon_gestion {
  height : 120px;
  margin:{
    bottom : 10px;
    left : 10px;
  }
  padding : 5px;
  border-radius: 2px;
  width : 140px;
}

.icon_gestion > i {
  font-size : 4em;
  margin-top:5px;
}
.icon_gestion > i > div >span{
  font-size : 1em;
  position:relative;
  top : 15px;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.icon_gestion img{
  border-radius: 15px;
}

.icon-health {
  color:gray;
  font-size:0.9em;
}

.ui-dialog {
  border-radius: 3px;
  background-clip:0;
  padding: 0px 0 0px 0px;
}

.callout {
  border-radius: 3px;
  margin: 0 0 20px 5px;
}

html {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.sidebar-nav {
  padding: 9px 0;
}

.cursor{
  cursor : pointer;
}

.pull-right{
  float: right;
  margin-left: 5px;
}

.pull-left{
  float: left;
  margin-right: 5px;
}

.form-actions{
  margin-top: 5px;
}

.eqLogic-widget{
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  & .btn:not(.btn-circle){
    border : none !important;
    font-weight: bold;
  }
}

.view-link-widget,.plan-link-widget{
  padding: 3px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
}

.eqLogic-widget a{
  color:inherit;
}

.cmd-widget{
  display: inline-block;
  position : relative;
  vertical-align: top;
}

.cmd-widget .statistiques{
  position : absolute;
  bottom: 0;
  font-size: 0.80em;
  left : 0;
  margin : 0;
  padding: 0;
  line-height:0px;
}


::-webkit-scrollbar-track-piece{
  background-color:transparent
}
