/* This file is part of Jeedom.
*
* Jeedom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Jeedom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
*/

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

.default-cursor {
  cursor: default;
}

#md_pageHelp {
  display: none;
}

.binary{
  margin-left: 5px;
  position: relative;
  top: 2px;
  width : 15px;
  height : 15px;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
}

#jqueryLoadingDiv .overlay {
  background-image: url(/assets/3rdparty/jquery.utils/gritter.png);
}

.eqLogic-battery {
  min:{
      width:100px;
      height:150px;
  }
  text-align: center;
  & .good {
    background-color: $good;
  }
  & .warning {
    background-color: $warn;
  }
  & .critical {
    background-color: $critical;
  }
  & .informations {
    font-size : 0.8em;
    margin: {
      bottom: 3px;
      right: 5px;
    }
    cursor:default;
  }
  & .manual-threshold {
    position:absolute;
    bottom: 3px;
    right: 3px;
    cursor:default;
  }
}

.eqLogic-name {
  font-size: 1em;
  display: block;
}

.eqLogic-place {
  font-size: 0.95em;
  position:relative;
  top:-5px;
  cursor:default;
}

.eqLogic-battery-icon {
  font-size:2.2em;
  margin:{
    top:-25px;
    bottom:-25px;
  }
  & i {
    font-size: 2.5em;
  }
}

/* Widget */
.eqLogic-widget{
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  max-width: 95%;
  & .btn:not(.btn-circle){
    border : none !important;
    font-weight: bold;
  }
  & a{
    color:inherit;
  }
}

.cmd-widget{
  display: inline-block;
  position : relative;
  vertical-align: top;
  & .statistiques{
    position : absolute;
    bottom: 0;
    font-size: 0.80em;
    left : 0;
    margin : 0;
    padding: 0;
    line-height:0px;
  }
}

.eqLogic-percent {
  font:{
    size:1.2em;
    weight: bold;
  }
  cursor:default;
}

/* Icons */
.icon-big {
  font-size : 4em;
  color:$gray;
}
.icon_gestion {
  height : 120px;
  width : 140px;
  & > i {
    font-size : 4em;
    margin-top:5px;
  }
  & > i > div >span{
    font-size : 1em;
    position:relative;
    top : 15px;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  & img{
    border:{
      top:{
        left-radius: 10px;
        right-radius: 4px;
      }
      bottom:{
        left-radius: 4px;
        right-radius: 10px;
      }
    }
    margin-bottom: 5px;
    padding: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
}

.icon-health {
  color:gray;
  font-size:0.9em;
}

/* Modal */
.ui-dialog {
  z-index: 9999;
  border-radius: 7px;
  background-clip: unset;
  box-shadow:0 3px 30px rgba(0,0,0,0.6);
  padding: 0px 0 0px 0px;
  & .ui-dialog-titlebar-close {
    right: 0.5em;
    top: 70%;
  }
}

.callout {
  border-radius: 3px;
  margin: 0 0 20px 5px;
}

.cursor{
  cursor : pointer;
}

.pull-right{
  float: right;
  margin-left: 5px;
}

.pull-left{
  float: left;
  margin-right: 5px;
}

.form-actions{
  margin-top: 5px;
}

.view-link-widget,.plan-link-widget{
  padding: 3px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
}

.eqLogicThumbnailContainer> div {
  background-color: rgba(0,0,0,0) !important;
  margin: {
    top:0;
  }
  box-shadow: none;
  border: none;
}