.fab {
  position: fixed;
  width: 49px;
  right: 15px;
  bottom: 15px;
  margin-left: -28px;
  z-index: 999;
}
@media (max-width: 767px) {
  .fab {
    width: 40px;
  }
}

.fab-bis {
  right: 75px;
}
@media (max-width: 767px) {
  .fab-bis {
    right: 65px;
  }
}

.fab-ter {
  right: 135px;
}
@media (max-width: 767px) {
  .fab-ter {
    right: 115px;
  }
}

.fab-left {
  right: 0px;
  left: 53px;
  z-index: 1050;
}

@media (max-width: 767px) {
  .fab-left {
    right: 0px;
    left: 42px;
    z-index: 1050;
  }
}

.fab:hover .fab-buttons {
  opacity: 1;
  visibility: visible;
}

.fab:hover .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}

.fab-action-button {
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
  line-height: 50px;
  color: $white;
  width: 50px;
  height: 50px;
  background-color: #29B6F6;
  opacity: 0.9;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .fab-action-button {
    line-height: 44px;
    font-size: 1.3em;
    width: 44px;
    height: 44px;
  }
}

.fab-action-button > a {
    color: $white;
}

.fab-buttons {
  position: absolute;
  left: 0;
  right: -3px;
  bottom: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}


.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 12px 0;
  font-size: 1.3em;
  vertical-align: middle;
  line-height: 44px;
}

.fab-buttons__link {
  color: $white;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  -moz-transition: .3s;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.blur {
  filter:blur(2px) grayscale(1);
}

[data-tooltip]:before {
  top: 50%;
  margin:{
    top: -22px;
    right: 12px;
  }
  font:{
    weight: 600;
    family: 'Roboto';
    size: 0.7em;
  }
  border-radius: 10px;
  background: #585858;
  color: $white;
  content: attr(data-tooltip);
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 0px 12px;
  position: absolute;
  transform: scale(0);
  right: 100%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all .1s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

*[class^="fab"]{
  cursor : pointer;
}
