.displayScenario-overlay {
  height: 100%;
  position: absolute;
  z-index: 9999;
  right: -250px;
  background-color: rgba(0,0,0,0.7);
  overflow-x: hidden;
  padding-top: 60px;
  width: 250px;
  float: left;
  & a:hover {
    color: #f1f1f1;
  }
  & .closebtn {
  position: absolute;
  top: 0;
  left: 250px;
  font-size: 36px;
  }
}

 

.scenario-widget{
  background-color: $gray;
  display: inline-block;
  position : relative;
  vertical-align: top;
  color : $white;
  & a{
    color : $white;
  }
}

