/* Text size */
.txtSize1em {
  font-size : 1em;
}

.txtSize1-5em {
  font-size : 1.5em;
}

.txtSize2em {
  font-size : 2em;
}

.txtSize075rem {
  font-size : 0.75rem;
}

.txtBold{
  font-weight: bold;
}