body {
  margin-top: 40px;
}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard-box {
  border-bottom: 2px solid rgba(0,0,0,0.2);
  border-top: 1px solid #d2d6de;
}

.stepwizard {
  display: table;
  width: 65%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top:20px;
  padding-bottom: 20px;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 35px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  opacity: 0.4;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.stepwizard-btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    border-radius: 15px;
    color: white;
}

.stepwizard-passwd {
    padding-left: 33%;
    padding-right: 33%;
}

.stepwizard-passwd > input {
  width: 65%;
  height: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.stepwizard-btn-circle.disabled, .stepwizard-btn-circle[disabled] {
  color: Black;
  opacity: 0.9;
}

#logo img {
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.stepwizard h1,
.stepwizard h2,
.stepwizard h3,
.stepwizard h4,
.stepwizard h5, {
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.8;
}

@media (max-width: 991px) {
  #market {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  #market {
    border-right: 1px solid #CCC;
  }
}

.nextBtn{
  padding-right: 10px;
  margin-right: 20px;
  margin-top:20px;
  margin-bottom:7px;
}

.returnBtn{
  padding-left: 10px;
  margin-left: 20px;
  margin-top:20px;
  margin-bottom:7px;
}

.nextBtn i{
  padding-left: 10px;
}

.returnBtn i{
  padding-right: 10px;

}
