@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

@import "../../vendor/node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../vendor/node_modules/roboto-fontface/css/roboto/roboto-fontface.css";
@import "jquery-ui-bootstrap/jquery-ui.scss";
@import "../3rdparty/jquery.utils/_jquery.utils.scss";
@import "../../vendor/node_modules/notosans-fontface/css/notosans-fontface.min.css";
@import "../../vendor/node_modules/jstree/dist/themes/default/style.css";
@import "../../vendor/node_modules/jquery-cron/dist/jquery-cron.css";
@import "../../vendor/node_modules/jquery-contextmenu/dist/jquery.contextMenu.css";
@import "../../vendor/node_modules/tablesorter/dist/css/theme.bootstrap.min.css";
@import "../3rdparty/jquery.sew/jquery.sew.scss";
@import "../../vendor/node_modules/codemirror/lib/codemirror.css";
@import "../../vendor/node_modules/izitoast/dist/css/iziToast.css";
@import "../../vendor/node_modules/font-awesome/css/font-awesome.css";
@import "../../vendor/node_modules/font-awesome5/css/fontawesome-all.css";
@import "_colors.scss";
@import "adminlte/_main-adminlte.scss";
@import "core/_main-core.scss";
@import "../../vendor/node_modules/admin-lte/dist/css/AdminLTE.css";
@import "adminlte/_AdminLTE-nextdom.scss";
@import "../../vendor/node_modules/jquery-datetimepicker/jquery.datetimepicker.css";
@import "../../vendor/node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css";
