@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Admin-LTE Surcharge */
.btn-group span {
  border-radius: 0px 5px 5px 0px;
}
.btn:not(.btn-app) i {
  margin-right: 8px;
}
.input-group>.btn i:only-child,
.btn-group>.btn i:only-child,
.input-group-btn>.btn i:only-child,
.td-btn>.btn i:only-child,
.cmd-widget .btn i{
  margin-right: 0px !important;
}

/* Core-Surcharge */
.btn:hover {
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
.btn.btn-flat {
    border:{
        radius: 4px;
        width: 1px;
    }
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 15px;
}

/* Core-Ajout */
.btn-black {
  color:$white;
  background-color:#373737;
  border-color:#1f1f1f;
  &:hover {
    color:$white;
    background-color:#303030;
    border-color:#1f1f1f;
  }
}
.btn-app {
    line-height: 2.5;
    height: 70px;
    margin: 5px 5px 5px 5px;
    min-width: 107px;
    border-radius: 4px;
    >.badge {
        top: 3px;
        right: 3px;
        font-size: 12px;
    }
}
.btn-selector {
    line-height: 2.5;
    height: 70px;
    margin: 3px 2px 3px 2px;
    min-width: 107px;
    border-radius: 4px;
}
.btn-selector .iconSel i {
    padding-top: 7px;
}
.btn-selector span {
    opacity: 0.5;
}
.btn-selector .fa,
.btn-selector .fas,
.btn-selector .glyphicon,
.btn-selector .ion,
.btn-selector .icon {
    font-size: 20px;
    display: block;
}
.btn-tab {
    line-height: 2;
}
.btn-box-tool {
    padding: 8px 5px;
}
.btn-action-bar {
    margin-bottom: 2px;
    margin-top: 2px;
}
.btn-log {
    margin: 2px 2px;
}
.editDashboardButtons {
    margin-top: -6px;
}
.bt_resetColor,
.btn-reset {
    padding: 9px 13px 5px;
}
.btn-jeedom {
    background-color: $jeedomgreen;
    border-color: $jeedomgreen;
}
.btn-jeedom:hover {
    background-color: $jeedomgreen;
}
