@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Core-Surcharge */
input[type="checkbox"], input[type="radio"] {
    position: relative !important;
    top:7px;
    height: 21px;
    width: 21px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0 0 0 0;
}
[type="checkbox"]:not(:checked):before,
[type="checkbox"]:checked:before,
[type="radio"]:not(:checked):before,
[type="radio"]:checked:before {
    content: '';
    background: #fff;
    position: absolute;
    left:0; top: 0;
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
[type="radio"]:not(:checked):before,
[type="radio"]:checked:before {
    border-radius: 20px;
}
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after,
[type="radio"]:not(:checked):after,
[type="radio"]:checked:after {
    content: '';
    position: absolute;
    left:0; top: 0;
    width: 17px;
    height: 17px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    border-radius: 2px;
}
[type="radio"]:not(:checked):after,
[type="radio"]:checked:after {
    border-radius: 20px;
}
[type="checkbox"]:hover:before, [type="radio"]:hover:before {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}
.has-error [type="checkbox"]:checked:after,
.has-error [type="checkbox"]:checked:after,
.has-error [type="radio"]:checked:after,
.has-error [type="radio"]:checked:after {
    background: #c9302c;
}
.radio-inline {
    padding-top:0px !important;
    padding-bottom: 5px;
}
.checkbox-inline {
    padding-top:0px !important;
    padding-right: 5px;
    input {
        margin-right: 4px;
    }
    .checkbox-inline {
        top: 0px;
    }
}

/* state */
[type="checkbox"]:not(:checked):after, [type="radio"]:not(:checked):after {
    opacity: 0; /* coche invisible */
    transform: scale(0); /* mise à l'échelle à 0 */
}
[type="checkbox"]:checked:after, [type="radio"]:checked:after {
    opacity: 0.9; /* coche opaque */
    transform: scale(1); /* mise à l'échelle 1:1 */
}

/* focus */
[type="checkbox"]:focus, [type="radio"]:focus {
    outline: none !important;
}
[type="radio"]:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}
