@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Core-Surcharge */
.eqLogic-battery {
    min:{
      width:200px;
      height:170px;
    }
    padding: 8px !important;
    text-align: center;
    & .good {
        background-color: $good;
    }
    & .warning {
        background-color: $warn;
    }
    & .critical {
        background-color: $critical;
    }
    & .informations {
        font-size : 0.8em;
        margin: {
            bottom: 3px;
            right: 5px;
        }
        cursor:default;
    }
    & .manual-threshold {
        position:absolute;
        bottom: 3px;
        right: 3px;
        cursor:default;
    }
}
.eqLogic-name {
    font-size: 1em;
    display: block;
    font-weight: 600;
}
.eqLogic-place {
    font-size: 0.95em;
    position:relative;
    top:-5px;
    cursor:default;
}
.eqLogic-battery-icon {
    font-size:2.2em;
    margin:{
        top:-25px;
        bottom:-25px;
    }
    & i {
        font-size: 2.5em;
    }
}
.eqLogic-percent {
    font:{
        size:1.2em;
        weight: bold;
    }
    cursor:default;
}
.eqLogic-calendar {
    position: absolute;
    bottom: 8px;
    left: 5px;
    cursor: default;
}
/* Widget */
.eqLogic-widget{
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    max-width: 100%;
    & .btn:not(.btn-circle){
        border : none !important;
        font-weight: bold;
    }
    & a{
        color:inherit;
    }
}
.cmd-widget{
    display: inline-block;
    position : relative;
    vertical-align: top;
    & .statistiques{
        position : absolute;
        bottom: 0;
        font-size: 0.80em;
        left : 0;
        margin : 0;
        padding: 0;
        line-height:0px;
    }
}

/* Jeedom futur */
.icon_blue {
  color: $blue !important;
}
.icon_green {
  color: $green !important;
}
.icon_orange {
  color: $orange !important;
}
.icon_red {
  color: $red !important;
}
.icon_yellow {
  color: $yellow !important;
}

.eqLogicThumbnailContainer {
  margin-bottom: 20px;
  .label {
    font-size: 12px !important;
    font-weight: normal;
  }
  > div.cursor {
    width : 145px !important;
    font-size: 14px !important;
  }
  i {
    font-size: 38px !important;
    font-weight: 900;
  }
  .logoPrimary {
    color: $nextdom_blue;
  }
  .logoSecondary {
    color: $nextdom_bg;
  }
  .info {
    color: $white;
  }
  .success {
    color: $good;
  }
  .warning {
    color: $warn;
  }
  .danger {
    color: $critical;
  }
  i:not(.fa-times) {
    font-size: 5em !important;
    margin-bottom: 2px;
  }
}
.eqLogicDisplayCard {
  margin-bottom: 10px !important;
  height: 170px !important;
  padding: 0 !important;
  margin: 0 !important;
  span {
    font-size: 12px !important;
    margin-top: 6px;
      margin-bottom: 6px;
  }
  > img {
    height: 105px;
    width: auto;
    max-width: 95px;
    vertical-align: baseline;
  }
}

.eqLogicThumbnailContainer .cursor span {
    top: 15px !important;
}
.eqLogicDisplayCard,
.eqLogicThumbnailContainer div {
  border: none !important;
  background: transparent !important;
  padding-top: 0!important;
  text-align: center;
}
.eqLogicDisplayCard div.cursor,
.eqLogicThumbnailContainer div.cursor {
  margin-bottom: 5px !important;
  padding: 5px !important;
}
.eqLogicDisplayCard:not(.disableCard) {
  opacity: 1 !important;
  transition-property: opacity;
  transition-duration: 0.6s;
}
.eqLogicDisplayCard.disableCard {
  opacity: 0.65 !important;
  transition-property: opacity;
  transition-duration: 0.6s;
}

.eqLogicThumbnailContainer div.cursor > center > img,
.eqLogicThumbnailContainer div.cursor img {
  height: 105px !important;
  width: auto !important;
  padding-top: 15px;
}
.eqLogic.eqLogic-widget .widget-name span.warning i {
  margin-right: 5px;
  font-size: 14px !important;
}

div.cmdListContainer .tablesorter i {
  font-size: 14px !important;
}

.objectDisplayCard {
  height: 130px;
  min-height: 130px !important;
}
.pluginListContainer div.cursor > center > img {
  width: 90px !important;
  padding-top: 15px;
}

.eqLogicThumbnailDisplay {
    padding-left: 15px !important;
}
