@charset "utf-8";

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Core-Surcharge : Résumé global */
.objectSummaryGlobalHeader {
    font-size: 15px;
    top: 16px;
    height: 49px;
    list-style-type: none;
    display: inline;
    position: inherit;
    @media (max-width: 768px) {
        font-size: small;
        left: -3px;
        white-space: nowrap;
        display: block;
        overflow: hidden;
    }
}
.objectSummaryParent {
    margin-right: 6px !important;
}

/* Core-Ajout */
.card-summary {
    text-align: right;
    top: -40px;
    right: -14px;
    position: relative;
}
