@charset "utf-8";
/* This file is part of NextDom Software.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom Software is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom Software. If not, see <http://www.gnu.org/licenses/>.
*
* @Support <https://www.nextdom.org>
* @Email   <admin@nextdom.org>
* @Authors/Contributors: Sylvaner, Byackee, cyrilphoenix71, ColonelMoutarde, edgd1er, slobberbone, Astral0, DanoneKiD
*/

/* Core-Surcharge */
[data-tooltip]:before {
    top: 50%;
    margin:{
        top: -22px;
        right: 12px;
    }
    font:{
        weight: 600;
        family: 'Roboto';
        size: 0.7em;
    }
    border-radius: 10px;
    background: #585858;
    color: $white;
    content: attr(data-tooltip);
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    padding: 0px 12px;
    position: absolute;
    transform: scale(0);
    right: 100%;
    white-space: nowrap;
    transform-origin: top right;
    transition: all .1s cubic-bezier(.25, .8, .25, 1);
}
[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
}
.tooltip-inner {
    padding: 8px 8px;
    border-radius: 8px;
}
.tooltip.in {
    opacity: 0.95;
}
