<div class="box" id="reports_admin">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-hand-o-right"></i>{{ 'Rapport' }}</h3>
        <div class="box-tools pull-right">
            <a class="btn btn-success btn-xs" id="bt_savereports_admin"><i class="fa fa-check-circle"></i> {{ 'Sauvegarder' }}</a>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool btn-close" ><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Délai d\'attente après génération de la page (en ms)' }}</label>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <input class="configKey form-control" data-l1key="report::delay"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-3 col-sm-4 col-xs-6 control-label">{{ 'Nettoyer les rapports plus anciens de (jours)' }}</label>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <input class="configKey form-control" data-l1key="report::maxdays"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
