{#

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<header class="main-header">
    <!-- Logo -->
    <a href="{{ HOMELINK }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img class="logo-mini-img" src="/public/img/NextDom/NextDom_Square_AlphaBlackBlue.png" style="height:40px;width:auto"/></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img class="logo-lg-img" src="/public/img/NextDom/NextDom_Wide_AlphaBlueBlack.png" style="height:40px;width:auto"/></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="clock">
                    <a class="clocktime" id="horloge_time">14:11:46</a>
                    <a class="clockdate" id="horloge_date">lundi 1 janvier 1970</a>
                </li>
                <li class="dropdown notifications-menu" id="bt_messageModal">
                    <a href="#"  >
                        <i class="fas fa-bell notifbadge"></i>
                        <span id="span_nbMessage" class="label label-warning notifcounter">{{ MENU_NB_MESSAGES }}</span>
                    </a>
                </li>
                <!-- Tasks: style can be found in dropdown.less bt_messageModal-->
                {% if IS_ADMIN %}
                    <li class="tasks-menu">
                        <a href="index.php?v=d&p=update">
                            <i class="fas fa-download notifbadge"></i>
                            <span id="span_nbUpdate" class="label label-danger notifcounter">{{ MENU_NB_UPDATES }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
