    {#

/* This file is part of NextDom.
*
* NextDom is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* NextDom is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with NextDom. If not, see <http://www.gnu.org/licenses/>.
*/

#}
<header class="main-header">
    <!-- Logo -->
    <a href="{{ HOMELINK }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img class="logo-mini-img" src="/public/img/NextDom/NextDom_Square_AlphaBlackWhite.png"/></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img class="logo-lg-img" src="/public/img/NextDom/NextDom_Wide_AlphaBlackWhite.png"/></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Navbar left menu-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
        <li class="objectSummaryGlobalHeader">
            {{ MENU_HTML_GLOBAL_SUMMARY|raw }}
        </li>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="clock hidden-xs">
                    <a class="clocktime" id="horloge_time">14:11:46</a>
                    <a class="clockdate" id="horloge_date">lundi 1 janvier 1970</a>
                </li>
                <li class="dropdown notifications-menu task_notif_mobile" id="bt_messageModal">
                    <a href="#">
                        {% if MENU_NB_MESSAGES != 0 %}
                            <i class="fas fa-envelope-open notifbadge"></i>
                            <span id="span_nbMessage" class="label label-warning notifcounter">{{ MENU_NB_MESSAGES }}</span>
                        {% else %}
                            <i class="fas fa-envelope-open"></i>
                        {% endif %}
                    </a>
                </li>
                {% if IS_ADMIN %}
                    <li class="tasks-menu task_update_mobile">
                        <a href="index.php?v=d&p=update">
                            {% if MENU_NB_UPDATES != 0 %}
                                <i class="fas fa-download notifbadge"></i>
                                <span id="span_nbUpdate" class="label label-danger notifcounter">{{ MENU_NB_UPDATES }}</span>
                            {% else %}
                                <i class="fas fa-download"></i>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <li class="task_bell_mobile cursor">
                    {% if nextdom_Notify == 1 %}
                        <a class="notifyIconLink" onclick="switchNotify(0);"><i class="notifyIcon fas fa-bell"></i></a>
                    {% else %}
                        <a class="notifyIconLink" onclick="switchNotify(1);"><i class="notifyIcon fas fa-bell-slash"></i></a>
                    {% endif %}
                </li>
                <li class="task_fullscreen_mobile cursor">
                    <a onclick="toggleFullScreen();"><i id="togglefullscreen" class="fa fa-expand"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
