body {
  font-family: 'Roboto','Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 15px !important ;
}

a {
  color: #33B8CC;
}

.Link-Blue {
  color: #33B8CC;
}

.main-header {
  z-index: 3030;
}
.main-header .navbar {
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

.main-header .navbar .nav > li.user > a > .fa,
.main-header .navbar .nav > li.user > a > .fas,
.main-header .navbar .nav > li.user > a > .glyphicon,
.main-header .navbar .nav > li.user > a > .ion {
  margin-right: 5px;
}
.main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  font-size: 14px;
  padding: 3px 3px;
  line-height: .9;
  z-index: -1;
}

.label {
  display: inline-block;
}

.navbar-custom-menu > .navbar-nav > li {
  position: unset;
}

.tasks-menu, .notifications-menu {
  top: 8px;
  left:-8px;
}

.notifbadge {
  position: inherit;
  top: 7px;
  left:-7px;
}

.notifcounter {
  margin-top: 7px;
  margin-right: 7px;
}

.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .fas,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}

.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  box-shadow: 4px 6px 12px 0 rgba(0,0,0,0.2);
}

.user-panel > .image > a > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.user-panel > .info {
  padding: 5px 5px 5px 10px;
  line-height: 0.5;
  position: absolute;
  left: 55px;
}

.user-panel > .info > a > .fa,
.user-panel > .info > a > .fas,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}

.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .fas,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  width: 50px !important;
  z-index: 2001;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
  display: block !important;
  position: absolute;
  width: 230px;
  left: 50px;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
  position: relative !important;
  float: right;
  width: auto !important;
  left: 180px !important;
  top: -22px !important;
  z-index: 900;
  opacity:0;
}

.control-sidebar {
  position: absolute;
  padding-top: 50px;
  z-index: 1010;
  height: 100%;
}

.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .fas,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}

.treeview-menu > li {
    padding-top: 1px;
    padding-bottom: 1px;
}

.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .fas,
.treeview-menu > li > a > .glyphicon,
.treeview-menu > li > a > .ion {
  width: 20px;
}

.treeview-menu > li > a {
    padding: 5px 15px 5px 15px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fas,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  padding-left: 10px !important;
}

.icheck > label {
  padding-left: 0px !important;
  margin-top: 7px;
  margin-bottom: 15px;
}

.box {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}

.box-header > .fa,
.box-header > .fas,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .fas,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}

.todo-list > li .tools > .fa,
.todo-list > li .tools > .fas,
.todo-list > li .tools > .glyphicon,
.todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}

.timeline > li > .fa,
.timeline > li > .fas,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}

.btn {
  line-height: 2;
}

.btn.btn-flat {
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
  font-size: 15px;
}

.btn-primary {
  background-color: #33B8CC;
  border-color: #33B8CC;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  background-color: #33B888;
}
.btn-success {
  background-color: #67DB84;
  border-color: #67DB84;
}

.btn-app > .fa,
.btn-app > .fas,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}

.nav-pills > li > a > .fa,
.nav-pills > li > a > .fas,
.nav-pills > li > a > .glyphicon,
.nav-pills > li > a > .ion {
  margin-right: 5px;
}

.nav-tabs-custom > .nav-tabs > li.header > .fa,
.nav-tabs-custom > .nav-tabs > li.header > .fas,
.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
.nav-tabs-custom > .nav-tabs > li.header > .ion {
  margin-right: 5px;
}

.nav-tabs-custom {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.nav-tabs-custom > .tab-content {
  background: #fafafa;
}

.nav-tabs a {
    padding: 10px 10px !important; 
}

.nav-tabs i.fa, .nav-tabs i.fas {
    padding-right: 5px;
}

.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 25px;
  margin-bottom: 0px;
  font-weight: 300;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 0px;
}

.login-page,
.register-page {
  background: linear-gradient(#33B8CC, #33B8FF);
  overflow: hidden;
}
.login-box,
.register-box {
  width: 450px;
  margin: 7% auto;
}

.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
  box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 7px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.login-page .icheck {
    margin-top: 0px;
}
.card {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}

.card {
  border: 0;
  margin-bottom: 60px;
  margin-top: 40px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: .25rem;
}

.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
  text-align: right;
}

.card .card-header {
  z-index: 3!important;
}
.card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i, .card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i {
  color: #fff;
}
.card .card-header {
  border-bottom: none;
  background: transparent;
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  margin-top: -25px;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;

}

.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
  border-radius: 3px;
  background-color: #999;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}

.card-body {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
}

.container-fluid{
     padding-right: 0;
 padding-left: 0;
}

#div_pageContainer{
  top: 10px;
}
