@import "../_colors.scss";

.config-form [type="checkbox"] {
  &:not(:checked), &:checked {
    display: none;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
  }
  &:not(:checked) + label:before, &:checked + label:before, &:not(:checked) + label:after, &:checked + label:after {
    content: '';
    position: absolute;
  }
  &:not(:checked) + label:before, &:checked + label:before {
    left: 0;
    top: -3px;
    width: 65px;
    height: 30px;
    background: $lightgray;
    border-radius: 15px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
  }
}

#sources-list [type="checkbox"] {
  &:not(:checked) + label:before, &:checked + label:before {
    top: -10px;
  }
  &:not(:checked) + label:after {
    top: -5px;
  }
  &:checked + label:after {
    top: -5px;
    top: -5px;
  }
}

.config-form {
  [type="checkbox"] {
    &:not(:checked) + label:after {
      width: 20px;
      height: 20px;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      transition: all .2s;
      border-radius: 50%;
      background: $red;
      top: 2px;
      left: 5px;
    }
    &:checked + label {
      &:after {
        width: 20px;
        height: 20px;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        transition: all .2s;
        border-radius: 50%;
        background: $red;
        top: 2px;
        left: 5px;
      }
      &:before {
        background: $lightgray;
      }
      &:after {
        background: $lightgreen;
        top: 2px;
        left: 40px;
      }
      .ui {
        position: absolute;
        left: 6px;
        width: 65px;
        border-radius: 15px;
        font:{
          size: 14px;
          weight: bold;
        }
        line-height: 22px;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        transition: all .2s;
      }
    }
    &:not(:checked) + label .ui:before, &:checked + label .ui:after {
      position: absolute;
      left: 6px;
      width: 65px;
      border-radius: 15px;
      font:{
          size: 14px;
          weight: bold;
      }
      line-height: 22px;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      transition: all .2s;
    }
    &:not(:checked) + label .ui:before {
      content: "no";
      left: 32px;
    }
    &:checked + label .ui:after {
      content: "yes";
      color: $lightgreen;
    }
    &:focus + label:before {
      border: 1px dashed $gray;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: -1px;
    }
  }
  label {
    margin-bottom: 10px;
  }
}

/* on checked */

#amfj-config .control-label sup {
  font-size: 1em;
  color: $gray;
}

#config-modal h3 {
  text-align: center;
}

#shortcuts button {
  border-radius: 2em;
}

#config-modal .btn-config-market {
  background-color: $nextdom_blue;
  min-width: 100px;
  min-height: 100px;
  margin-right: 10px;
  img {
    width: 50px;
    height: 50px;
  }
  span {
    color: $white;
  }
}

#github-list-container {
  margin-top: 1.5em;
}

#sources-list .list-button {
  padding: 0;
  button {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

#sources-list-save {
  margin-top: 10px;
}

.btn-nextdom {
  color: $white;
  background-color: $nextdom_blue !important;
  border-color: $nextdom_blue !important;
}

#disclaimer-modal .alert {
  .col-md-2 {
    text-align: right;
  }
  .row {
    display: table;
    > span {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
  }
  i {
    padding-left: 0.2em;
  }
  p {
    padding-left: 2em;
  }
}

#choices-row button {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1em;
  height: 2.2em;
  font-size: 1.5em;
}

#nextdom-modal {
  li {
    font-size: 1.2em;
  }
  .list-group {
    margin-bottom: 0 !important;
  }
}
